<div placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div class="kt-header__topbar-wrapper">
		<!-- <span class="kt-header__topbar-welcome" *ngIf="greeting">Hi,</span>
		<span class="kt-header__topbar-username" *ngIf="greeting">{{_user.fullname}}</span>
		<span *ngIf="badge" class="kt-header__topbar-icon"><b>{{_user.fullname|firstLetter}}</b></span> -->
		<!-- <img *ngIf="avatar" alt="Pic" [attr.src]="_user.pic"> -->
		<img (click)="gotoTab('profile','profile')" *ngIf="avatar" [src]="photo" (error)="setDefaultPic()"> 
		
	</div>
		
</div>




