<div class="kt-portlet">
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<div class="d-flex justify-content-center">
					<img src="assets/media/icons/modules/404 page.png" alt="404 Page">
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="d-flex justify-content-center">
					<h2>
						<font color="black">Waduh, tujuan halamanmu nggak ada !!!</font>
					</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="d-flex justify-content-center">
					<label>mungkin kamu salah tujan dan alamat, kembali untuk ke halaman beranda</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="d-flex justify-content-center">
					<a class="btn btn-oprek-select" [routerLink]="['/home']">
						<i class="fa fa-home"></i> Back Home
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
