@media only screen and (min-width: 720px) {
    .eis-tingkat-inflasi {
      padding-right: 95px !important;
    }
  }
  
  .btn-oprek-select {
      width: 140px;
      height: 35px;
        background: rgba(63, 77, 136, 0.12);
    }
    
    .btn-oprek-select2 {
      width: 1200px;
      height: 50px;
        background: #fff;
    }
    
    .btn-oprek-select:hover {
        background: #3F4D88;
        color: #fff;
        background-image: #fff;
    }
    .kt-portlet__body_clear{
      margin: 20px 17px 17px 17px;
    }
    .kt-portlet__body{
      margin: 20px 17px 17px 17px;
      box-shadow: 0px 0px 10px #0000000A;
      border: 1px solid #019AE8;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      padding: 25px;
      border-radius: 4px;
      opacity: 1;
    }
    .kt-portlet__body_1{
      margin: 20px 17px 17px 9px;
      box-shadow: 0px 0px 10px #0000000A;
      border: 1px solid #019AE8;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 4px;
      opacity: 1;
    }
    .kt-portlet__body_2{
      margin: 10px 17px 17px 17px;
      box-shadow: 0px 0px 10px #0000000A;
      border: 1px solid #019AE8;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 4px;
      opacity: 1;
    }
    
    .col-md-6{
      padding: 0px;
      margin: 0px;
    }
    .col-md-12{
      padding: 0px;
      margin: 0px;
    }
  
    .rounded-portlet{
      border-radius:50%;
      padding: 11px;
      margin-top: -20%;
      position: absolute;
    }
  
    @media (max-width: 1700px) {
      .icon-pokok{
        margin-top: 100%;
      }
    }
    @media (max-width: 768px) {//mobile
      .icon-pokok{
        margin-top: 0%;
      }
    }

    .btn-submit {
        background-color: #0E38B1;
    }
    
    .btn-submit:hover {
        background-color: #00258F;
    }
    
    .header-table {
        background-color: #0E38B1;
        font-weight: bold;
        color: #fafafa;
    }
    