<!-- begin: Header -->
<div ktHeader #ktHeader class="kt-header kt-grid__item" [ngClass]="htmlClassService.getClasses('header', true)"
	id="kt_header">
	<!-- style="background-image: url(./assets/media/other/path.png);left: 70%;" -->
	<div class="kt-header__top">
		<ngb-progressbar class="kt-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async"
			height="3px" style="z-index: 999;"></ngb-progressbar>
		<div class="kt-container" [ngClass]="{'kt-container--fluid': topbarFluid}">
			<!-- begin:: Brand -->
			<!-- <img src="assets/media/other/path.png"/> -->
			<kt-brand></kt-brand>
			<!-- end:: Brand -->
			<!-- begin:: Header Topbar -->
			<kt-topbar class="d-flex"></kt-topbar>

			<!-- end:: Header Topbar -->
		</div>
	</div>
	<!-- <div class="kt-header__bottom d-none d-lg-block">
		<div class="kt-container" [ngClass]="{'kt-container--fluid': menuFluid}">
			<kt-menu-horizontal *ngIf="menuHeaderDisplay"></kt-menu-horizontal>
		</div>
	</div> -->

</div>
<!-- end: Header -->