<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<!--end: Quick panel toggler -->

	<!--begin: Header App Shortcut-->
	<!-- <kt-weather-placeholder></kt-weather-placeholder>
	<kt-user-notify></kt-user-notify>
	<kt-header-app-shortcut></kt-header-app-shortcut> -->
	<!--end: Header App Shortcut-->

	<!--begin: Language bar -->
	<kt-language-selector [iconType]="'brand'"></kt-language-selector>
	<!--end: Language bar -->

	<!--begin: User bar -->
	<!-- <kt-user-profile2 [greeting]="false"></kt-user-profile2>
	<kt-user-logout></kt-user-logout> -->
	<!--end: User bar -->
</div>
<!-- end:: Header Topbar -->
