<div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">


			<span (click)="gotoTab('colleagues','colleagues')"class="kt-header__topbar-icon" [ngClass]="'kt-header__topbar-icon--dark'">	
				<i [ngClass]="'fas fa-users fa-md'"></i>
			</span>
			
	</div>
	
		
</div>




