//
// Base
//




// Body

@media (max-width: 1700px) {
	body {
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-color: $kt-page-body-bg-color;
	
		
		// Container 
		.kt-container {
			.kt-container {
				width: 100%;
			}
		}
	}
}
@media (max-width: 768px) {//mobile
	body {
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-color: #ffffff;
		
		// Container 
		.kt-container {
			.kt-container {
				width: 100%;
			}
		}
	}
}


// Page Wrapper
.kt-body {
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.02);
	//background-color: $kt-page-content-bg-color;
	background-color: #F3FAFF;
	@include kt-rounded {
		border-bottom-left-radius: $kt-border-radius;
		border-bottom-right-radius: $kt-border-radius;
		border-top-right-radius: $kt-border-radius;

		.kt-content {
			border-bottom-left-radius: $kt-border-radius;
			border-bottom-right-radius: $kt-border-radius;
			border-top-right-radius: $kt-border-radius;
		}
	}
}

// Desktop(1024px and above)
@include kt-desktop-and-tablet() {
	// Body
	.kt-body {
		> .kt-container {
			padding-right: 0 !important;
		}
	}

	// Fixed Header
	.kt-wrapper {
		// Fixed header mode
		.kt-header--fixed & {
			padding-top: kt-get($kt-header-config, base, desktop, default, height, top);
		}

		// Fixed and minimized header mode 
		.kt-header--fixed.kt-header--minimize & {
			padding-top: kt-get($kt-header-config, base, desktop, fixed, height);
		}
	}

	// Container 
	.kt-container {
		padding: 0 kt-get($kt-page-padding, desktop);
	}

}

// Page fluid mode(below $kt-page-container-width)
@media (min-width: #{$kt-page-container-width + (2 * $kt-page-fluid-container-padding) - 1px}) {
	// Page container
	.kt-container.kt-container--fluid {
		padding: 0 $kt-page-fluid-container-padding;

		.kt-container {
			padding: 0 kt-get($kt-page-padding, desktop);
		}
	}
}

// Tablet & Mobile Mode(1024px and below)
@include kt-tablet-and-mobile() {
	// Page wrapper
	.kt-wrapper {
		padding: 0;

		// Fixed Header
		.kt-header-mobile--fixed & {
			padding-top: kt-get($kt-header-config, base, mobile, self, default, height);
		}
	}

	// Page body
	.kt-body {
		margin-top: kt-get($kt-page-padding, mobile);

		@include kt-rounded {
			border-top-left-radius: $kt-border-radius;
			border-top-right-radius: $kt-border-radius;
		}		
	}

	// Container
	.kt-container {
		width: 100%;
		//padding: 0 kt-get($kt-page-padding, mobile);
		padding: 0;
	}
}