<div class="mb-2 row float-right">
    <button *ngIf="enableRowDownload.type != undefined" mat-raised-button type="button" (click)="downloadXlsx()"><i class="kt-nav__link-icon flaticon-download-1"></i> Export xlsx</button>&nbsp; &nbsp;
    <button *ngIf="enableRowAdd" mat-raised-button type="button" (click)="addRow()"><i class="kt-nav__link-icon flaticon-add-circular-button"></i> {{ rowAddText ? rowAddText : 'Tambah data baru' }}</button>&nbsp; &nbsp;
    <button *ngIf="enableSelection && selectedRowExist | async" mat-raised-button type="button" (click)="deleteSelected()"><i class="kt-nav__link-icon flaticon-delete"></i> {{ deleteSelectedText ? deleteSelectedText : 'Hapus data terpilih' }}</button>
</div>
<div class="table-responsive">
    <div #table></div>
</div>