.tabulator {
   font-size: 12px;
   border: none;
}

.tabulator .tabulator-header {
   font-weight: normal;
   border-bottom: 1px solid;
   // border-bottom-color: rgba(0, 0, 0, 0.12);
   // color: rgba(0, 0, 0, 0.54);
   color: #fff;
   background-color: #3f4d88;
   border-color: #32383e;
   font-weight: bold;
}

.tabulator .tabulator-header .tabulator-col {
   height: 48px;
   background-color: #3f4d88;
   border: none;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
   background-color: #2e3963;
}

.tabulator-row {
   border-bottom: 1px solid;
   border-bottom-color: rgba(0, 0, 0, 0.12);
   min-height: 48px;
   vertical-align: middle;
}

.tabulator-row .tabulator-cell {
   padding: 16px 7px;
   border-right: none;
   vertical-align: middle;
}

.tabulator-row .tabulator-cell:first-of-type,
.tabulator .tabulator-header .tabulator-col:first-of-type {
   padding-left: 24px;
}

.tabulator-row.tabulator-row-even {
   background-color: #ffffff;
}
.tabulator-col-title {
   text-align: center;
 }