@import "../../../../../assets/sass/pages/wizard/wizard-1";


*:focus {
	outline: none;
}

.toggle-button-cover {
	display: table-cell;
	position: relative;
	width: 200px;
	height: 140px;
	box-sizing: border-box;
}

.button-cover {
	height: 100px;
	margin: 20px;
	background-color: #fff;
	box-shadow: 0 10px 20px -8px #c5d6d6;
	border-radius: 4px;
}

.button-cover:before {
	counter-increment: button-counter;
	content: counter(button-counter);
	position: absolute;
	right: 0;
	bottom: 0;
	color: #d7e3e3;
	font-size: 12px;
	line-height: 1;
	padding: 5px;
}

.button-cover,
.knobs,
.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.button {
	position: relative;
	top: 50%;
	width: 100px;
	height: 50px;
	//margin: -20px auto 0 auto;
	overflow: hidden;
}

.button.r,
.button.r .layer {
	border-radius: 100px;
}

.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs {
	z-index: 2;
}

.layer {
	width: 100%;
	background-color: #ebf7fc;
	transition: 0.3s ease all;
	z-index: 1;
}

/* Button 4 */
#button-slide .knobs:before,
#button-slide .knobs:after {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 43px;
    height: 43px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 13px 4px;
    background-color: #03A9F4;
    border-radius: 50%;
	transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-slide .knobs:before {
	content: 'YES';
}

#button-slide .knobs:after {
	content: 'NO';
}

#button-slide .knobs:after {
	top: -50px;
	right: 4px;
	left: auto;
	background-color: #F44336;
}

#button-slide .checkbox:checked+.knobs:before {
	top: -50px;
}

#button-slide .checkbox:checked+.knobs:after {
	top: 4px;
}

#button-slide .checkbox:checked~.layer {
	background-color: #fcebeb;
}