<div class="kt-container  kt-grid__item kt-grid__item--fluid">
	<div class="kt-portlet">
		<div class="kt-portlet__body">
			<div class="kt-infobox">
				<div class="kt-infobox__header">
					<h2 class="kt-infobox__title">{{ 'HOME.TITTLE' | translate }}</h2>
				</div>
				<div class="kt-infobox__body">
					<div #wizard class="kt-grid kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
						<div class="kt-grid__item">
							<!--begin: Form Wizard Nav -->
							<div class="kt-wizard-v1__nav">
								<div class="kt-wizard-v1__nav-items">
									<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
										<div class="kt-wizard-v1__nav-body">
											<div class="kt-wizard-v1__nav-icon">
												<i class="flaticon-profile-1"></i>
											</div>
											<div class="kt-wizard-v1__nav-label">
												{{ 'STEP1.LABEL' | translate }}
											</div>
										</div>
									</a>
									<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
										<div class="kt-wizard-v1__nav-body">
											<div class="kt-wizard-v1__nav-icon">
												<i class="flaticon2-paper"></i>
											</div>
											<div class="kt-wizard-v1__nav-label">
												{{ 'STEP2.LABEL' | translate }}
											</div>
										</div>
									</a>
									<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
										<div class="kt-wizard-v1__nav-body">
											<div class="kt-wizard-v1__nav-icon">
												<i class="flaticon2-heart-rate-monitor"></i>
											</div>
											<div class="kt-wizard-v1__nav-label">
												{{ 'STEP3.LABEL' | translate }}
											</div>
										</div>
									</a>
								</div>
							</div>
							<!--end: Form Wizard Nav -->
						</div>
						<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
							<!--begin: Form Wizard Form-->
							<form class="kt-form" [formGroup]="f_personal" autocomplete="off" style="padding: 2rem 0 5rem;">
								<!--begin: Form Wizard Step 1-->
								<div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
									<div class="kt-form__section kt-form__section--first">
										<div class="kt-infobox__header">
											<h5>{{ 'STEP1.TITTLE' | translate }}</h5>
										</div>
										<div class="kt-wizard-v1__form">
											<div class="row">
												<div class="col-xl-6">
													<div class="form-group">
														<label>{{ 'STEP1.NAME' | translate }}</label>
														<input formControlName="name" type="text" class="form-control" [ngClass]="{'is-invalid':isControlHasError('f_personal','name','required')}">
														<div *ngIf="isControlHasError('f_personal','name','required')" class="invalid-feedback"><span>Required field</span></div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>{{ 'STEP1.GENDER' | translate }}</label>
														<ng-select formControlName="gender" [items]="master_gender" [searchable]="false" bindLabel="name" [ngClass]="{'is-invalid':isControlHasError('f_personal','gender','required')}"></ng-select>
														<div *ngIf="isControlHasError('f_personal','gender','required')" class="invalid-feedback"><span>Required field</span></div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>{{ 'STEP1.DATE_BIRTH' | translate }}</label>
														<input formControlName="date_birth" type="text" class="form-control" [ngClass]="{'is-invalid':isControlHasError('f_personal','date_birth','required')}" data-date-format="DD MMMM YYYY" (click)="date_birth.toggle()" class="form-control" ngbDatepicker #date_birth="ngbDatepicker" placeholder="dd/mm/yyyy">
														<div *ngIf="isControlHasError('f_personal','date_birth','required')" class="invalid-feedback"><span>Required field</span></div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>{{ 'STEP1.EMAIL' | translate }}</label>
														<input formControlName="email" type="email" class="form-control" [ngClass]="{'is-invalid':isControlHasError('f_personal','email','required') || isControlHasError('f_personal','email','email')}">
														<div *ngIf="isControlHasError('f_personal','email','required')" class="invalid-feedback"><span>Required field</span></div>
														<div *ngIf="isControlHasError('f_personal','email','email')" class="invalid-feedback"><span>Format Email Required</span></div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>{{ 'STEP1.PHONE' | translate }}</label>
														<input formControlName="phone" type="number" class="form-control" [ngClass]="{'is-invalid':isControlHasError('f_personal','phone','required')}">
														<div *ngIf="isControlHasError('f_personal','phone','required')" class="invalid-feedback"><span>Required field</span></div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>{{ 'STEP1.VISIT_SILOAM' | translate }}</label>
														<mat-spinner *ngIf="master_hospitals_loading" [diameter]="30"></mat-spinner>
														<ng-select *ngIf="!master_hospitals_loading" formControlName="id_hospital" [items]="master_hospitals" [searchable]="true" bindLabel="name" [ngClass]="{'is-invalid':isControlHasError('f_personal','hospitals','required')}"></ng-select>
														<mat-error *ngIf="isControlHasError('f_personal','hospitals','required')">
															<span>Required field</span>
														</mat-error>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end: Form Wizard Step 1-->

								<!--begin: Form Wizard Step 2-->
								<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
									<div class="kt-infobox__header">
										<h5>{{ 'STEP2.TITTLE' | translate }}</h5>
									</div>
									<div class="kt-wizard-v1__form">
										<div class="button r" id="button-slide" style="margin: -20px auto 0 auto;">
											<input formControlName="reactive_result" type="checkbox" class="checkbox" [ngClass]="{'is-invalid':isControlHasError('f_personal','reactive_result','required')}">
											<div class="knobs">
												<span></span>
											</div>
											<div class="layer"></div>
											<div *ngIf="isControlHasError('f_personal','reactive_result','required')" class="invalid-feedback"><span>Required field</span></div>
										</div>
									</div>
								</div>
								<!--end: Form Wizard Step 2-->

								<!--begin: Form Wizard Step 3-->
								<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
									<div class="kt-infobox__header">
										<h5>{{ 'STEP3.TITTLE' | translate }}</h5>
									</div>
									<div class="kt-wizard-v1__form">
										<div class="row">
											<div class="col-xl-12">
												<div class="form-group">
													<label>{{ 'STEP3.FEVER' | translate }}</label>
													<div class="button r" id="button-slide">
														<input formControlName="fever" type="checkbox" class="checkbox">
														<div class="knobs">
															<span></span>
														</div>
														<div class="layer"></div>
													</div>
												</div>
											</div>
											<div class="col-xl-12">
												<div class="form-group">
													<label>{{ 'STEP3.BREATHING' | translate }}</label>
													<div class="button r" id="button-slide">
														<input formControlName="breathing" type="checkbox" class="checkbox">
														<div class="knobs">
															<span></span>
														</div>
														<div class="layer"></div>
													</div>
												</div>
											</div>
											<div class="col-xl-12">
												<div class="form-group">
													<label>{{ 'STEP3.COUGHT' | translate }}</label>
													<div class="button r" id="button-slide">
														<input formControlName="cought" type="checkbox" class="checkbox">
														<div class="knobs">
															<span></span>
														</div>
														<div class="layer"></div>
													</div>
												</div>
											</div>
											<div class="col-xl-12">
												<div class="form-group">
													<label>{{ 'STEP3.RUNNY_NOSE' | translate }}</label>
													<div class="button r" id="button-slide">
														<input formControlName="runny_nose" type="checkbox" class="checkbox">
														<div class="knobs">
															<span></span>
														</div>
														<div class="layer"></div>
													</div>
												</div>
											</div>
											<div class="col-xl-12">
												<div class="form-group">
													<label>{{ 'STEP3.SMELL' | translate }}</label>
													<div class="button r" id="button-slide">
														<input formControlName="smell" type="checkbox" class="checkbox">
														<div class="knobs">
															<span></span>
														</div>
														<div class="layer"></div>
													</div>
												</div>
											</div>
											<div class="col-xl-12">
												<div class="form-group">
													<label>{{ 'STEP3.TASTE' | translate }}</label>
													<div class="button r" id="button-slide">
														<input formControlName="taste" type="checkbox" class="checkbox">
														<div class="knobs">
															<span></span>
														</div>
														<div class="layer"></div>
													</div>
												</div>
											</div>
											<div class="col-xl-12">
												<div class="form-group">
													<label>{{ 'STEP3.ACHES' | translate }}</label>
													<div class="button r" id="button-slide">
														<input formControlName="aches" type="checkbox" class="checkbox">
														<div class="knobs">
															<span></span>
														</div>
														<div class="layer"></div>
													</div>
												</div>
											</div>
											<div class="col-xl-12">
												<div class="form-group">
													<label>{{ 'STEP3.VOMITING' | translate }}</label>
													<div class="button r" id="button-slide">
														<input formControlName="vomiting" type="checkbox" class="checkbox">
														<div class="knobs">
															<span></span>
														</div>
														<div class="layer"></div>
													</div>
												</div>
											</div>
											<div *ngIf="f_personal.get('reactive_result').value" class="col-xl-12">
												<div class="form-group">
													<div class="kt-checkbox-inline">
														<label class="kt-checkbox">
															<input formControlName="agreement" type="checkbox"> {{ 'STEP3.AGREEMENT' | translate }}
															<span></span>
														</label>
													</div>
												</div>
											</div>
										</div>
										<!--begin: Form Wizard Step 4-->
										<div *ngIf="!f_personal.get('reactive_result').value">
											<div class="kt-infobox__header">
												<h5>{{ 'STEP5.TITTLE' | translate }}</h5>
											</div>
											<div class="kt-wizard-v1__form">
												<div class="row">
													<div class="col-xl-12">
														<div class="form-group">
															<label>{{ 'STEP5.LIVE_SOMEONE' | translate }}</label>
															<div class="button r" id="button-slide">
																<input formControlName="live_someone" type="checkbox" class="checkbox">
																<div class="knobs">
																	<span></span>
																</div>
																<div class="layer"></div>
															</div>
														</div>
													</div>
													<div class="col-xl-12">
														<div class="form-group">
															<label>{{ 'STEP5.CLOSE_CONTACT' | translate }}</label>
															<div class="button r" id="button-slide">
																<input formControlName="close_contact" type="checkbox" class="checkbox">
																<div class="knobs">
																	<span></span>
																</div>
																<div class="layer"></div>
															</div>
														</div>
													</div>
													<div class="col-xl-12">
														<div class="form-group">
															<label>{{ 'STEP5.WITH_SOMEONE' | translate }}</label>
															<div class="button r" id="button-slide">
																<input formControlName="with_someone" type="checkbox" class="checkbox">
																<div class="knobs">
																	<span></span>
																</div>
																<div class="layer"></div>
															</div>
														</div>
													</div>
													<div class="col-xl-12">
														<div class="form-group">
															<label>{{ 'STEP5.CLOSE_CONTACT_RECOVERED' | translate }}</label>
															<div class="button r" id="button-slide">
																<input formControlName="close_contact_recovered" type="checkbox" class="checkbox">
																<div class="knobs">
																	<span></span>
																</div>
																<div class="layer"></div>
															</div>
														</div>
													</div>
													<div class="col-xl-12">
														<div class="form-group">
															<label>{{ 'STEP5.TREATING_PATIENTS' | translate }}</label>
															<div class="button r" id="button-slide">
																<input formControlName="treating_patients" type="checkbox" class="checkbox">
																<div class="knobs">
																	<span></span>
																</div>
																<div class="layer"></div>
															</div>
														</div>
													</div>
													<div *ngIf="!f_personal.get('reactive_result').value" class="col-xl-12">
														<div class="form-group">
															<div class="kt-checkbox-inline">
																<label class="kt-checkbox">
																	<input formControlName="agreement" type="checkbox"> {{ 'STEP3.AGREEMENT' | translate }}
																	<span></span>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--end: Form Wizard Step 4-->
									</div>
								</div>
								<!--end: Form Wizard Step 3-->


								<!--begin: Form Actions -->
								<div class="kt-form__actions">
									<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
										{{ 'MENU.PREVIOUS' | translate }}
									</div>
									<div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
										{{ 'MENU.SUBMIT' | translate }}
									</div>
									<div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
										{{ 'MENU.NEXT_STEP' | translate }}
									</div>
								</div>
								<!--end: Form Actions -->
							</form>
							<!--end: Form Wizard Form-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
