<div id="aside_menu_toggler" class="row">
    <div class="col">
        <button id="kt_aside_mobile_toggler_tablet" type="button"
            class="btn btn-warning btn-elevate btn-icon pull-right"><i class="fas fa-bars text-white"></i></button>
    </div>
</div>