#aside_menu_toggler {
    margin-top: -15px;
    margin-bottom: 15px;

    @media screen and (min-width: 420px) {
        margin-top: -5px;
    }
}

@media screen and (min-width: 1025px) {
    #aside_menu_toggler {
        display: none;
    }
}