<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile kt-header-mobile--fixed">
	<div class="kt-header-mobile__logo">
		<a routerLink="/">
			<!-- <img alt="logo" width="70" [attr.src]="headerLogo"/> -->
			<img *ngIf="device=='desktop'" alt="logo" src="assets/img/logo.png" width="200"/>
			<img *ngIf="device=='mobile'" alt="logo" width="70" src="assets/img/logo.png"/>

		</a>
	</div>
	<div class="kt-header-mobile__toolbar">
		<!-- <button [hidden]="!asideDisplay" class="kt-header-mobile__toolbar-toggler" id="kt_aside_mobile_toggler" (click)="toggleAside()">
			<span></span>
		</button> -->
		<!-- <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button> -->
		<button ktToggle [options]="toggleOptions" class="kt-header-mobile__toolbar-topbar-toggler"
			id="kt_header_mobile_topbar_toggler">
			<i class="flaticon-more-1"></i>
		</button>
	</div>
</div>
<!-- end:: Header Mobile -->