<div ngbDropdown placement="bottom" autoClose="outside" class="kt-header__topbar-item">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span class="kt-header__topbar-icon" [ngClass]="'kt-header__topbar-icon--dark'">
			<i [ngClass]="'flaticon2-menu-2'"></i>
		</span>
	</div>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<!-- Apps Grid -->
		<div class="kt-grid-nav kt-grid-nav--skin-light" *ngIf="menuList.length>0">
			<div class="kt-grid-nav__row">
				<div class="row mx-5 my-4">
					<div *ngFor="let m of menuList" class="col-md-3 d-flex justify-content-center" data-placement="bottom" ngbTooltip="{{m.name}}">
						<a (click)="gotoTab(m.slug)">
							<!-- <img src="{{m.icon}}" class="img-fluid rounded-circle" width="50" alt=""> -->
							<img src="{{m.icon}}" width="30" alt="m.name">
						</a>
					</div>
				</div>				
			</div>
		</div>
		<div class="kt-grid kt-grid--ver" style="min-height: 200px;" *ngIf="menuList.length==0">
			<div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
				<div class="kt-grid__item kt-grid__item--middle kt-align-center">
					no recent tabs
				</div>
			</div>
		</div>
		<!-- Apps Grid END -->
	</div>
</div>
