// .modules-card .carousel-control-next-icon:after
// {
//   content: ">";
//   font-size: 55px;
//   color: black;
// }

// .modules-card .carousel-control-prev-icon:after {
//   content: "<";
//   font-size: 55px;
//   color: black;
// }