:host {
    min-width: unset !important;
    max-width: unset !important;
    padding: 0 !important;

    &:hover,
    &:focus {
        ngx-dropzone-remove-badge {
	    opacity: 1;
        }
    }

    ngx-dropzone-remove-badge {
	opacity: 0;
    }

    .container {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #f0f0f0;

        .bg {
            height: 100%;
            width: 100%;
        }

        .text {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}