<div class="container">
    <canvas class="bg" #canvasRef width="160" height="120"></canvas>
    <div class="text" *ngIf="_flag === 'failed'">
        <ng-content select="ngx-dropzone-label"></ng-content>
    </div>
    <ngx-dropzone-remove-badge *ngIf="removable" (click)="_remove($event)">
    </ngx-dropzone-remove-badge>
</div>
