<div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div (click)="logout()" ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span class="kt-header__topbar-icon" [ngClass]="'kt-header__topbar-icon--dark'">
			<i [ngClass]="'fas fa-power-off fa-md'"></i>
		</span>
	</div>
</div>

<ng-template #TimeOut let-modal>
	<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLongTitle">Session expire</h5>
		<button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
		</button>
	</div>
	<div class="modal-body">
		<p>Your session is about to expire.</p>
		<p>Redirecting in <span class="countdown-holder">{{20-timer}}</span> seconds.</p>
		<div class="progress">
			<!-- style="min-width: 15px; width: 90%;" -->
			<div class="progress-bar progress-bar-striped countdown-bar active" role="progressbar" [ngStyle]="{ 'min-width' :  '15px','width': barString }"> <span class="countdown-holder">{{20-timer}}s</span> </div>
		</div>
	</div>
	<div class="modal-footer"> <button (click)="logout()" id="session-timeout-dialog-logout" type="button" class="btn btn-default">Logout</button> <button (click)="restart()" id="session-timeout-dialog-keepalive" type="button" class="btn btn-primary" data-dismiss="modal">Stay Connected</button> </div>
</ng-template>

