<div class="card card-summary" [formGroup]="fg" style="padding:0px 10px">
    <div class="one-line">
        <input [owlDateTime]="dtYear"  class="no-focus" formControlName="year" [owlDateTimeTrigger]="dtYear" [min]="years(min)" [max]="years(max)" style="border:none;padding:10px;font-size:14px" />
        <i class="fas fa-sort-down" style="font-size:14px;color:black"></i>
    </div>
    <owl-date-time [pickerType]="'calendar'" (yearSelected)="yearChange($event);dtYear.close();" [startView]="'multi-years'" [multiyearOnly]="true" #dtYear></owl-date-time>
</div>