<div [style.width]="width||'100%'" [style.height]="'100%'">
    <div [hidden]="!data || data.length>0" [style.height]="screenWidth<720?'500px':height" style="display: flex;background-color:#ebecf1">
        <div class="card card-ghost" style="background-color:#ebecf1;padding: 10px 30px;margin:auto">
            <h4 class="m-0">No Data</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-{{legend && legend.position == 'left'?'4':'12'}}" style="align-self:center">
            <div class="card card-fill" [hidden]="data.length==0" *ngIf="legend && legend.position == 'left'"  [ngStyle]="{'height':'fit-content'}">
                <div style="overflow:hidden;background-color:white;padding:1px 1px;" [ngStyle]="{'max-height':expanded==true?'fit-content':'200px'}">
                    <div id="lgd-{{legend.key}}"></div>
                </div>
                <div class="button" (click)="expanded = !expanded" [hidden]="checkHidden()" style="cursor:pointer;width:100%;height:fit-content;background-color:#ebecf1;text-align:center;">
                    <i [ngClass]="expanded==true?'fas fa-angle-double-up':'fas fa-angle-double-down'"></i>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-{{legend && (legend.position == 'right' || legend.position=='left')?(legend.col?12-legend.col:8):'12'}}">
            <div [hidden]="!data || data.length==0" #chartArea class="chart-container" [style.height]="screenWidth<720?'500px':height"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-{{legend && legend.position == 'right'?(legend.col?legend.col:4):'12'}}" style="align-self:center">
            <div class="card card-fill" [hidden]="data.length==0" *ngIf="legend && legend.position == 'right'"  [ngStyle]="{'height':'fit-content'}">
                <div style="overflow:hidden;background-color:white;padding:1px 1px;" [ngStyle]="{'max-height':expanded==true?'fit-content':'200px'}">
                    <div id="lgd-{{legend.key}}"></div>
                </div>
                <div class="button" (click)="expanded = !expanded" [hidden]="checkHidden()" style="cursor:pointer;width:100%;height:fit-content;background-color:#ebecf1;text-align:center;">
                    <i [ngClass]="expanded==true?'fas fa-angle-double-up':'fas fa-angle-double-down'"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-fill" [hidden]="!data || data.length==0" *ngIf="legend && legend.position == 'bottom'"  [ngStyle]="{'height':'fit-content','min-width':legend.minWidth?legend.minWidth:'auto'}">
        <div style="overflow:hidden;background-color:white;padding:1px 1px;" [ngStyle]="{'max-height':expanded==true?'fit-content':'200px'}">
            <div id="lgd-{{legendKey||legend.key}}"></div>
        </div>
        <div class="button" (click)="expanded = !expanded" [hidden]="checkHidden()" style="cursor:pointer;width:100%;height:fit-content;background-color:#ebecf1;text-align:center;">
            <i [ngClass]="expanded==true?'fas fa-angle-double-up':'fas fa-angle-double-down'"></i>
        </div>
    </div>
</div>