.card-summary{
  padding:10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color:#ffffff;
  // border:0.25px solid rgba(65, 78, 132,0.4);
  //box-shadow: 0 1px 4px 0.1px rgba(65, 78, 132, 0.2);
  box-shadow: 0 1px 1px #414e8433,0 2px 2px #414e8433,0 4px 4px #414e8433,0 8px 8px #414e8433
}

.card-fill{
  padding:10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color:#ffffff;
  // border:0.25px solid rgba(65, 78, 132,0.4);
  box-shadow: 0 1px 4px 0.1px rgba(65, 78, 132, 0.2);
  // box-shadow: 0 1px 1px #414e8433,0 2px 2px #414e8433,0 4px 4px #414e8433,0 8px 8px #414e8433
}

.spacing{
  height:10px;
  background-color: transparent;
}

.card-ghost{
  padding:10px 10px 10px 10px;
  //border-radius: 10px 10px 10px 10px;
  background-color:transparent;
  border:none;
  box-shadow: none;
  //border:0.5px solid rgba(65, 78, 132,0.4);
  //box-shadow: 0 1px 4px 0.1px rgba(65, 78, 132, 0.2);
}

.ovalDot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


.one-line{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
