<div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle
		 class="kt-header__topbar-wrapper">
		<span title="Service Desk"
			  (click)="open()"
			  class="kt-header__topbar-icon kt-header__topbar-icon--dark">
			<i class="fas fa-question-circle fa-lg"></i>
		</span>
	</div>
</div>
