<div class="row">
		<div class="col-md-4" >
				<div class="kt-portlet__body">
						<div class="kt-widget1 kt-widget1--fit">
							<div class="kt-widget1__item" style="color:white;">
								<div class="kt-widget1__info">
									<span><i class="fas fa-map-marker-alt fa-sm"></i></span>
								</div>
								<span>
									<b>{{nameLocation}}</b><br>
									<b>{{celcius}} &#8451;</b>
								</span>
							</div>
						</div>
					</div>

			<!-- <span><i class="fas fa-map-marker-alt fa-sm"></i></span>
			<b style="color:white;">{{nameLocation}}</b><br>
			<b style="color:white;">{{celcius}} &#8451;</b> -->
		</div>
	</div>
