<div class="kt-container  kt-grid__item kt-grid__item--fluid">
	<div class="kt-portlet">
		<div class="kt-portlet__body">
			<div class="kt-infobox">
				<div class="kt-infobox__header">
					<h2 class="kt-infobox__title">{{ 'HOME.TITTLE' | translate }}</h2>
				</div>
				<div class="kt-infobox__body">
					<div class="kt-infobox__section">
						<!-- <h3 class="kt-infobox__subtitle">Basic</h3> -->
						<div class="kt-infobox__content">
							{{ 'HOME.P1' | translate }}<br>
							<ul>
								<li *ngFor="let p1_child of 'HOME.P1_CHILD' | translate">
									{{ p1_child}}
								</li>
							</ul>
						</div>
					</div>
					<div class="kt-infobox__section">
						<div class="kt-infobox__content">
							{{ 'HOME.P2' | translate }}<br>
							<ol>
								<li *ngFor="let p2_child of 'HOME.P2_CHILD' | translate">
									{{ p2_child}}
								</li>
							</ol>
						</div>
					</div>
					<div class="kt-infobox__section">
						<div class="kt-infobox__content">
							{{ 'HOME.P3' | translate }}<br><br>
							{{ 'HOME.REFERENCES' | translate }} : <a href="https://res.cloudinary.com/siloam/image/upload/v1594282668/Diabetic/assets/Health%20Declaration/REV-04_Pedoman_P2_COVID-19__27_Maret2020_Tanpa_TTD.pdf.pdf" target="_blank">{{ 'HOME.REFERENCES_DETAIL' | translate }}</a>
						</div>
					</div>
					<button [routerLink]="['/personal']" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
						{{ 'HOME.START' | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
