.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.mat-tab-label-active {
	background: #c21500; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#c21500,
		#ffc500
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#c21500,
		#ffc500
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fafafa;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	opacity: 1 !important;
}

.header-table {
	color: white;
	font-weight: bold;
	background: #c21500; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#c21500,
		#ffc500
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#c21500,
		#ffc500
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
