.card-summary{
    padding:10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color:#ffffff;
    // border:0.25px solid rgba(65, 78, 132,0.4);
    //box-shadow: 0 1px 4px 0.1px rgba(65, 78, 132, 0.2);
    box-shadow: 0 1px 1px #414e8433,0 2px 2px #414e8433,0 4px 4px #414e8433,0 8px 8px #414e8433;

    &.colored{
        background-color:#414e84;
        color:#ebecf1;
    }

    &.shined{
        background-color:#ebecf1;
        color:#414e84;
    }
}

.one-line{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}


.no-focus{
    outline:none;
}