

<div [formGroup]="fg" style="padding:0px 10px">
    <input [readOnly]="true" [ngStyle]="sty" [placeholder]="placeholder" class="no-focus" formControlName="waktu" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" />
    <div class="one-line">
        <!-- style="border:none;padding:10px;font-size:14px" -->
        <!-- <i class="fas fa-sort-down" style="font-size:14px;color:black"></i> -->
    </div>
    <owl-date-time (afterPickerClosed)="timeChange($event)" [pickerType]="'timer'" #dt2></owl-date-time>
</div>