<div class="kt-container  kt-grid__item kt-grid__item--fluid">
	<div class="kt-portlet">
		<div class="kt-portlet__body kt-portlet__body--fit">
			<div class="kt-pricing-2">
				<div class="kt-pricing-2__head">
					<div class="kt-pricing-2__title kt-font-light">
						<h1>{{ 'COMPLETE.THANKS' | translate }}</h1>
						<h5>{{ 'COMPLETE.THANKS1' | translate }}</h5>
						<h5>{{ 'COMPLETE.THANKS2' | translate }}</h5>
					</div>
				</div>
				<div *ngIf="info!=null" class="kt-pricing-2__content">
					<div class="kt-pricing-2__container">
						<div class="kt-pricing-2__items row">
							<div class="kt-pricing-2__item col-lg-12">
								<div class="row">
                                    <div class="col-xl-6">
                                        <label>{{ 'MENU.SUBMITTED_DATE' | translate }}</label>
                                        <h6>{{info.createdAt | date:"dd MMM yyyy hh:mm:ss"}}</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <label>{{ 'MENU.EXP_DATE' | translate }}</label>
                                        <h6>{{addoneDay(info.createdAt) | date:"dd MMM yyyy hh:mm:ss"}}</h6>
                                    </div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>{{ 'STEP1.SUBMITTED_DATE' | translate }}</label>
											<h6>{{info.name}}</h6>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>{{ 'STEP1.GENDER' | translate }}</label>
											<h6 *ngIf="info.gender==0">{{'GENDER.MALE' | translate}}</h6>
											<h6 *ngIf="info.gender==1">{{'GENDER.FEMALE' | translate}}</h6>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>{{ 'STEP1.DATE_BIRTH' | translate }}</label>
											<h6>{{info.date_birth | date:"dd MMM yyyy"}}</h6>
										</div>
									</div>

									<div class="col-xl-4">
										<div class="form-group">
											<label>{{ 'STEP1.EMAIL' | translate }}</label>
											<h6>{{info.email}}</h6>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>{{ 'STEP1.VISIT_SILOAM' | translate }}</label>
											<h6>{{info.hospital}}</h6>
										</div>
									</div>
                                    
									<div class="col-xl-12 ">
										<div class="form-group">
											<label>{{ 'COMPLETE.EVIDENCE' | translate }}</label>
											<h6 *ngIf="info.reactive_result==0">{{'MENU.YES' | translate }}</h6>
											<h6 *ngIf="info.reactive_result==1">{{'MENU.NO' | translate }}</h6>
										</div>
									</div>
									<div class="col-xl-12">
										<div class="form-group">
											<label>{{ 'COMPLETE.SYMPTOMS' | translate }}</label>
											<h6 *ngIf="info.fever==1 && info.breathing==1 && info.breathing==1 && info.cought==1 && info.runny_nose==1 && info.smell==1 && info.taste==1 && info.aches==1 && info.vomiting==1">{{'MENU.NO' | translate }}</h6>
											<h6 *ngIf="info.fever==0">{{'STEP3.FEVER' | translate }}</h6>
											<h6 *ngIf="info.breathing==0">{{'STEP3.BREATHING' | translate }}</h6>
											<h6 *ngIf="info.cought==0">{{'STEP3.COUGHT' | translate }}</h6>
											<h6 *ngIf="info.runny_nose==0">{{'STEP3.RUNNY_NOSE' | translate }}</h6>
											<h6 *ngIf="info.smell==0">{{'STEP3.SMELL' | translate }}</h6>
											<h6 *ngIf="info.taste==0">{{'STEP3.TASTE' | translate }}</h6>
											<h6 *ngIf="info.aches==0">{{'STEP3.ACHES' | translate }}</h6>
											<h6 *ngIf="info.vomiting==0">{{'STEP3.VOMITING' | translate }}</h6>
										</div>
									</div>
									<div class="col-xl-12">
										<div class="form-group">
											<label>{{ 'COMPLETE.EXPOSURE' | translate }}</label>
											<h6 *ngIf="info.live_someone==1 && info.close_contact==1 && info.with_someone==1 && info.close_contact_recovered==1">{{'MENU.NO' | translate }}</h6>
											<h6 *ngIf="info.live_someone==0">{{'STEP5.LIVE_SOMEONE' | translate }}</h6>
											<h6 *ngIf="info.close_contact==0">{{'STEP5.CLOSE_CONTACT' | translate }}</h6>
											<h6 *ngIf="info.with_someone==0">{{'STEP5.WITH_SOMEONE' | translate }}</h6>
											<h6 *ngIf="info.close_contact_recovered==0">{{'STEP5.CLOSE_CONTACT_RECOVERED' | translate }}</h6>
										</div>
									</div>
									<div class="col-xl-12">
										<div class="form-group">
											<label>{{ 'COMPLETE.WORKED' | translate }}</label>
											<h6 *ngIf="info.treating_patients==0">{{'MENU.YES' | translate }}</h6>
											<h6 *ngIf="info.treating_patients==1">{{'MENU.NO' | translate }}</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
