.mat-form-field-appearance-legacy {
	.mat-form-field-prefix,
	.mat-form-field-suffix {
		.ngx-mat-file-input--default-icon {
			width: 1em;
		}
	}
}

.mat-form-field:not(.mat-form-field-appearance-legacy) {
	.mat-form-field-prefix,
	.mat-form-field-suffix {
		.ngx-mat-file-input--default-icon {
			display: block;
			width: 1.5em;
			height: 1.5em;
		}

		.mat-icon-button .ngx-mat-file-input--default-icon {
			margin: auto;
		}
	}
}

kt-mat-file-upload {
	display: flex;
	line-height: 18px;
	height: 18px;
	align-items: center;

	.input-file {
		display: block;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}
