
<ng-container [formGroup]="fg">
    <ng-select 
    [items]="items" 
    [bindLabel]="bindLabel" 
    [bindValue]="bindValue" 
    formControlName="value"
    [appendTo]="'body'"
    (change)="changeEmit($event)"
    [placeholder]="placeholder"
    [readonly]="readOnly"
    ></ng-select>
</ng-container>