//
// Header
//



// Desktop mode(1024px and above)
@include kt-responsive-above(kt-get($kt-media-breakpoints, sm-m)) {
	// Header
	.kt-header {
		display: flex;
		flex-direction: column;
    	position: relative;
    	z-index: 999;

    	// Header top
		.kt-header__top {
			height: kt-get($kt-header-config, base, desktop, default, height, top);
			display: flex;
			align-items: stretch;
			transition: height 0.3s ease;
			box-shadow: 0px 4px 30px -4px rgba(0,51,90, 0.1);
			
			// background: rgb(255,255,255);
			// background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(209,77,76,1) 10%, rgba(224,118,53,1) 36%, rgba(253,196,9,1) 62%, rgba(255,255,255,0.1881127450980392) 80%);
			// background: rgb(207,71,79);
			// background: linear-gradient(90deg, rgba(207,71,79,1) 9%, rgba(224,118,53,1) 36%, rgba(253,196,9,1) 62%, rgba(255,255,255,0.1881127450980392) 80%);
			 background-color: #ffffff;
			// b	ackground-image: url("assets/media/other/path2.png");
			//background-image: url("assets/media/other/path.png");
			// background: rgb(131,58,180);
			// background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(207,52,52,1) 50%, rgba(252,176,69,1) 100%);

			
			background-position: right 45px bottom 20px;
			background-repeat: no-repeat;
			background-position: center;

			// Fixed header
			.kt-header--fixed & {
				position: fixed;
				top: 0;
				right: 0;
				left: 0;
				z-index: kt-get($kt-header-config, base, desktop, fixed, zindex);
			}

			// Fixed and minimized header
			.kt-header--fixed.kt-header--minimize & {
				transition: height 0.3s ease;
				height: kt-get($kt-header-config, base, desktop, fixed, height);
			}
	
			// Header container
			.kt-container {
				//background-position: right 45px bottom 20px;
				background-repeat: no-repeat;
				//background-position: center;

				//https://cssgradient.io/
				// background: rgb(255,255,255);
				// border-color: Linear Gradient;
				// background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 3%, rgba(206,65,71,1) 3%, rgba(223,111,51,1) 45%, rgba(255,196,13,1) 70%, rgba(255,255,255,1) 86%);
				// background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 3%, rgba(206,65,71,1) 3%, rgba(223,111,51,1) 45%, rgba(255,196,13,1) 70%, rgba(255,255,255,1) 86%);
				// background: linear-gradient(90deg, rgba(255,255,255,1) 3%, rgba(206,65,71,1) 3%, rgba(223,111,51,1) 45%, rgba(255,196,13,1) 70%, rgba(255,255,255,1) 86%);
				// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
				// 		background-color: #ffffff;
				display: flex;
				align-items: stretch;
				justify-content: space-between;

				&:before,
				&:after {
					display: none !important;
				}

				// Default logo
				.kt-header__brand-logo-default {
					display: inline-block;
				}

				// Sticky logo
				.kt-header__brand-logo-sticky {
					display: none;
				}
			}			
		}

		// Header bottom
		.kt-header__bottom {
			margin-top: 30px;
			display: flex;
			align-items: stretch;
			height: kt-get($kt-header-config, base, desktop, default, height, bottom);

			// Header container
			.kt-container {
				display: flex;
				align-items: stretch;

				&:before,
				&:after {
					display: none !important;
				}
			}
		}
	}
}

// Mobile mode(1024px and below)
@include kt-mobile() {
	// Header
	.kt-header {
		// Header top
		.kt-header__top {
			// Default and sticky logos
			.kt-header__brand-logo-default,
			.kt-header__brand-logo-sticky {
				display: none;
			}
		}
	}
}