//
// Topbar
//




$kt-topbar-icon-border-color:  rgba(#fff, 0.2);
$kt-topbar-icon-border-hover-color:  rgba(#fff, 0.5);
$kt-topbar-icon-color: #fff;

$kt-topbar-minimize-icon-border-color: #e7e8f4;
$kt-topbar-minimize-icon-border-hover-color: #d7d8e9;

$kt-topbar-icon-size: 37px;
$kt-topbar-mobile-icon-size: 30px;

// General mode
.kt-header__topbar {
	display: flex;
	align-items: stretch;
	padding: 0;

	.kt-header__topbar-item {
		display: flex;
		align-items: stretch;
		margin: 0 0.36rem;

		.kt-header__topbar-wrapper {
			cursor: pointer;
			display: flex;
			align-items: stretch;			

			.kt-header__topbar-icon {
				display: flex;
				align-items: center;
				align-self: center;
				justify-content: center;
				height: $kt-topbar-icon-size;
				width: $kt-topbar-icon-size;
				border-radius: $kt-border-radius;
				cursor: pointer;
				background: transparent; 
				@include kt-transition();

				i {
					line-height: 0;
					font-size: 1.4rem;
					color: $kt-topbar-icon-color;
				}

				b {
					font-size: 2rem;	
					color: $kt-topbar-icon-color;
					line-height: 0;	
					font-weight: 500;
				}

				@each $name, $color in $kt-state-colors {
		            &.kt-header__topbar-icon--#{$name} {
		                //background: rgba(kt-get($color, base), 0.15);

		                i {
							color: kt-get($color, base);
						}

						b {									
							color: kt-get($color, base);
						}


						&:hover,
						&.show  {
							@include kt-transition();
							background: kt-get($color, base);

							i {
								color: kt-brand-color(inverse);
							}

							b {									
								color: kt-brand-color(inverse);
							}
						}		              
		            }
		        } 	
			}		 
		}		

		// Languages
		&.kt-header__topbar-item--langs {
			.kt-header__topbar-icon {
				height: $kt-topbar-icon-size;
				width: $kt-topbar-icon-size;
				border-radius: $kt-border-radius;

				img {
					border-radius: $kt-border-radius;
					width: 22px;
				}
			}

			.dropdown-menu {
				.kt-nav__link-icon {
					padding-right: 10px;

					img {
						border-radius: 50%;
						width: 18px;
					}
				}
			}
		}		

		// User profile
		&.kt-header__topbar-item--user {
			//padding: 0 0.4rem;

			.kt-header__topbar-welcome {
				display: flex;
				align-self: center;
				padding: 0 0.55rem 0 0;
				font-weight: 500;
				font-size: 0.9rem;
				color: #636177;
			}

			.kt-header__topbar-username {
				display: flex;
				align-self: center;
				padding: 0 0.55rem 0 0;
				font-weight: 500;
				font-size: 1rem;
				color: #fff;
			}

			.kt-header__topbar-wrapper {
				img {
					align-self: center;
					height: $kt-topbar-icon-size;
					border-radius: $kt-border-radius;
				}
			}	
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

// Tablet and mobile mode(1024px and below)
@include kt-responsive-below(kt-get($kt-media-breakpoints, sm-m)) {
	// Toolbar
	.kt-header__topbar {
		padding: 0 kt-get($kt-page-padding, mobile);
		background-color: #fff;
		transition: all 0.3s ease;
		margin-top: -(kt-get($kt-header-config, topbar, height, mobile));
		height: kt-get($kt-header-config, topbar, height, mobile);
		position: absolute;
		left: 0;
		right: 0;
		justify-content: center;
		width: 100%;

		// Fixed mobile header
		.kt-header-mobile--fixed & {
			position: fixed;
			z-index: kt-get($kt-header-config, base, mobile, self, fixed, zindex) - 1;
		}

		// Topbar shown
		.kt-header__topbar--mobile-on & {
			margin-top: 0;
			transition: all 0.3s ease;
			border-top: 1px solid #ebedf2;
			box-shadow: 0px 4px 30px -4px rgba(0,51,90, 0.1);
			background: #fff;
		}

		// Topbar item
		.kt-header__topbar-item {
			margin: 0 0.25rem;

			// Wrapper
			.kt-header__topbar-wrapper {
				.kt-header__topbar-icon {
					max-height: $kt-topbar-mobile-icon-size;
					max-width: $kt-topbar-mobile-icon-size;
					border: 0;

					i {
						font-size: 1.3rem;		
					}		
				}
			}			

			// User
			&.kt-header__topbar-item--user {
				margin: 0;

				.kt-header__topbar-wrapper {
					img {
						height: $kt-topbar-mobile-icon-size;
					}
				}			
			}

			&:last-child {
				padding-right: 0 !important;
				margin-right: 0 !important;
			}
		}	
	}
}