<div class="kt-subheader kt-grid__item">
    <div *ngIf="router.url.startsWith('/legis/')" class="col-md">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="legisModule">
            <label ngbButtonLabel [routerLink]="[ '/legis/dashboard' ]" routerLinkActive="active"
                class="btn-outline-primary">
                <input ngbButton type="radio" value="dashboard"> Dashboard
            </label>
            <div class="btn-group" ngbDropdown role="group" aria-label="Task">
                <button class="btn btn-outline-primary" [ngClass]="ifUrl('/legis/task/') ? 'active' : ''" ngbDropdownToggle>TASK</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" [routerLink]="[ '/legis/task/top-down' ]" routerLinkActive="active">Top Down</button>
                    <button class="dropdown-item" [routerLink]="[ '/legis/task/bottom-up' ]" routerLinkActive="active">Bottom Up</button>
                    <button class="dropdown-item" [routerLink]="[ '' ]" routerLinkActive="disabled">------</button>
                    <button class="dropdown-item" [routerLink]="[ '/legis/task/approved-list-employe' ]" routerLinkActive="active">Detail task View (employe)</button>
                    <button class="dropdown-item" [routerLink]="[ '/legis/task/approved-list' ]" routerLinkActive="active">Approved List View (SM)</button>
                </div>
            </div>
            <label ngbButtonLabel [routerLink]="[ '/legis/elsa' ]" routerLinkActive="active" class="btn-outline-primary">
                <input ngbButton type="radio" value="elsa"> ELSA
            </label>
            <label ngbButtonLabel [routerLink]="[ '/legis/lars' ]" routerLinkActive="active" class="btn-outline-primary">
                <input ngbButton type="radio" value="lars"> LARS
            </label>
        </div>
    </div>
</div>
