<div class="support-container">
    <div class="card support-shadow">
        <div class="card-header text-center">
            <h1>Contact Us!</h1>
        </div>
        <div class="card-body">
            <blockquote class="text-center">Having troubles on using our Apps?<br/>Feel free to contact us!</blockquote>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:feridi94@gmail.com?subject=[User Support]">feridi94@gmail.com</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>