@import '~@angular/material/theming';

#contentBody img {
	max-width: 100% !important;
}

.card-columns {
	@include media-breakpoint-only(lg) {
		column-count: 4;
	}

	@include media-breakpoint-only(xl) {
		column-count: 5;
	}
}


.ngx-pagination li {

	margin-right: 3px !important;

}

.ngx-pagination .disabled {
	color: #cacaca !important;
	cursor: default !important;
	border: 1px solid #ccc !important;
	border-radius: 20px !important;
}

.ngx-pagination a,
.ngx-pagination button {

	border: 1px solid #ccc !important;
	border-radius: 20px !important;

}

.ngx-pagination .current {
	background: #384ad7 !important;
	border: transparent !important;
	border-radius: 20px !important;
	border: 1px solid #3f51b5 !important;
	font-weight: bold !important;
}

.ngx-pagination .current:hover {
	background: #384ad7 !important;
	border-radius: 20px !important;
	border: 1px solid #3f51b5 !important;


}

.table.table-hoverx {
	border: 1px solid #efefef !important;
}

table thead.bg-header tr th {
	border: none !important;
}

.bg-header {
	color: white;
	text-align: center;
	background: #384ad7;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1A2980, #384ad7);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1A2980, #384ad7);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-header {
	background-color: white;
}

.text-required {
	color: #FF1818;
	font-size: 13px;
}

.link-state:hover {
	opacity: 0.7;
	cursor: pointer;
}

/* Table Hover Thead */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: rgba(63, 77, 136, 0.1);
	;
}

.table .thead-custom th {
	color: #fff;
	background-color: #3F4D88;
	border-color: #32383e;
	font-weight: bold;

}

// Badge
.kt-badge.kt-badge--inline {
	height: 30px;
}

.kt-badge.kt-badge--success {
	color: #47b148;
	background-color: rgba(71, 177, 72, 0.25);
}

.kt-badge.kt-badge--danger {
	background: rgba(255, 24, 24, 0.25);
	color: #FF1818;
}

.kt-badge.kt-badge--brand {
	color: #18b7ff;
	background-color: rgba(24, 183, 255, 0.25);
}

.kt-badge.kt-badge--primary {
	color: white;
	font-weight: bold;
	background-color: #5867dd;
}

.dataTables_wrapper .dataTable th,
.dataTables_wrapper .dataTable td {
	vertical-align: middle;
}

.uppercase {
	text-transform: uppercase;
}

/* Ini Tombol Submit dan Cancel  dan Apporved*/
.btn-oprek-submit {
	background: #3F4D88;
	color: #ffffff;
}

.btn-oprek-submit:hover {
	color: #fff;
	background: rgba(63, 77, 136, 0.88);
}

.btn-oprek-cancel {
	background: rgba(63, 77, 136, 0.12);
}

.btn-oprek-cancel:hover {
	background: #3F4D88;
	color: #fff;
	background-image: #fff;
}

.hover-icon img:hover {
	fill: red !important;
}

.btn-oprek-cancel-elsa {
	background: rgba(63, 77, 136, 0.12);
	color: #5669B9;
}

.btn-oprek-cancel-elsa:hover {
	background: #3F4D88;
	color: #fff;
	background-image: #fff;
}

/* Material Customization */
.mat-custom {

	// Horizontal Stepper
	mat-horizontal-stepper {
		.mat-step-icon {
			width: 32px;
			height: 32px;
		}

		.mat-stepper-horizontal-line,
		&.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
		&.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
		[dir=rtl] &.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after,
		[dir=rtl] &.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
			border-top-width: 8px !important;
		}

		&.selectedIndex0 {
			border-top-width: 1px;
		}

		@for $i from 1 through 12 {
			&.selectedIndex#{$i} {
				@extend .selectedIndex#{$i - 1};

				.mat-stepper-horizontal-line:nth-child(#{$i * 2}),
				.mat-horizontal-stepper-header:nth-child(#{(($i + 1) * 2) - 1})::before,
				.mat-horizontal-stepper-header:nth-child(#{($i * 2) - 1})::after {
					border-top-color: #3f51b5 !important;
				}
			}
		}
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.size-btn {
		width: 30%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.size-btn {
		width: 20%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.size-btn {
		width: 20%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.size-btn {
		width: 12%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.size-btn {
		width: 12%;
	}
}
