
<div #tableArea [style.height]="'100%'" [style.width]="'100%'">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-7 col-lg-9" style="padding-bottom:5px;">
            <div class="row">
                <div *ngIf="export==true" class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <button class="excel-button" type="button" style="color:white;" (click)="exportExcel(colLength)">Excel Draft</button> 
                </div>
                <div *ngIf="customName!=null && customHide != true" class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <button [ngClass]="customDisabled==true?'excel-button-disabled':'excel-button'" type="button" style="color:white;" (click)="customButtonClick()">{{customName}}</button> 
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-5 col-lg-3" style="padding-bottom:5px;">
            <div class="one-line" [hidden]="search==false">
                <input class="form-control" (keyup)="applyFilter($event)"  placeholder="Search" style="border:solid 0.25px #414e8455;padding:10px 10px;color:#3f3f3f;border-radius:10px;width:100%">
                <div [hidden]="checkFilter()" class="card card-button" type="button" style="margin-left:5px;background-color:#414e84" (click)="filterHide = !filterHide">
                    <i class="fas fa-filter" style="font-size:16px;color:white"></i>
                </div>
                <div [hidden]="editable != true || viewOnly==true || checkAdding() == true || (dataSource.filter != null && dataSource.filter.length > 0) || editable_only==true" (click)="addRow(null,'addAction',false,'button',false)" class="card card-button" type="button" style="margin-left:5px;">
                    <i [ngClass]="'fa fa-plus'" style="font-size:16px;color:white"></i>
                </div>
                <div [hidden]="editable != true" (click)="viewOnly = !viewOnly" class="card card-button" type="button" style="margin-left:5px;" [ngStyle]="{'background-color':viewOnly?'cornflowerblue':'lightslategray'}">
                    <i [ngClass]="viewOnly==true?'fa fa-pencil':'far fa-eye'" style="font-size:16px;color:white"></i>
                </div>
            </div>
        </div>
        <div class="col-12" [hidden]="filterHide && this.filterLabel==''">
            <div style="width:100%;height:1px;background-color:#ebecf1;margin:10px 0px;"></div>
        </div>
        <!-- <div class="col-12" [hidden]="filterLabel==''">
            <div style="width:100%;margin:10px 0px;">
                <h5 class="m-0">{{filterLabel}}</h5>
            </div>
        </div> -->
        <div class="col-12" [hidden]="filterHide" *ngIf="filterProp && filterProp.length > 0">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3" *ngFor="let prop of filterProp;let i = index" style="padding-bottom:10px;">
                    <ng-select appendTo="body" [multiple]="true" [placeholder]="prop.placeholder" (change)="filtering(prop.key,i,$event)">
                        <ng-option  *ngFor="let dt of prop.data" [value]="dt.value">{{dt.label}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-12 col-sm-12 col-md-{{12-((filterProp.length*6)%12)}} col-lg-{{12-((filterProp.length*3)%12)}}" align="end">
                    <div class="card card-button" (click)="resetFilters()" style="box-shadow:none;border-color: lightgrey;background-color:#ebecf1;color:#3f3f3f;display:inline-block;padding:8px 30px;width:fit-content;cursor:pointer;">
                        Clear Filter
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="display:flex;overflow-x:auto;">
        <table [id]="exportId" #tableArea mat-table matSort [dataSource]="dataSource" class="table custom mat-elevation-z8" multiTemplateDataRows>
            <ng-container *ngFor="let header of headers;let i = index;" [matColumnDef]="header.key" [sticky]="header.sticky?header.sticky:null">
                <ng-container *ngIf="header.sub && header.sub == true; else nosub">
                    <ng-container *ngIf="(header['nosort']==true || header['type']=='checklist');else sorted">
                        <th [ngStyle]="{'min-width':header['width']?header['width']:'auto','text-align':header['align']?header['align']:'start'}" mat-header-cell [attr.colSpan]="header['cs']?header['cs']:1" *matHeaderCellDef mat-header style="color:white;vertical-align: middle;" [attr.rowspan]="header['rs']?header['rs']:1">
                            <mat-checkbox *ngIf="header['type'] == 'checklist'" (change)="changeSelected(header,$event,null)"
                                [checked]="isAllSelected(header)">
                            </mat-checkbox>
                            <h5 class="m-0" *ngIf="header['type'] != 'checklist'">  {{header.label}} </h5>
                        </th>
                    </ng-container>
                    <ng-template #sorted>
                        <th [ngStyle]="{'min-width':header['width']?header['width']:'auto','text-align':header['align']?header['align']:'start'}" mat-header-cell [attr.colSpan]="header['cs']?header['cs']:1" *matHeaderCellDef mat-sort-header style="color:white;vertical-align: middle;" [attr.rowspan]="header['rs']?header['rs']:1">
                            <h5 class="m-0">  {{header.label}} </h5>
                        </th>
                    </ng-template>
                </ng-container>
                <ng-template #nosub>
                    <ng-container *ngIf="(header['nosort']==true || header['type'] == 'checklist');else sorted2">
                        <th [ngStyle]="{'min-width':header['width']?header['width']:'auto','text-align':header['align']?header['align']:'start'}" mat-header-cell [attr.colSpan]="header['cs']?header['cs']:1" *matHeaderCellDef mat-header style="color:white;vertical-align: middle;" [attr.rowspan]="header['rs']?header['rs']:1">
                            <mat-checkbox *ngIf="header['type'] == 'checklist'" (change)="changeSelected(header,$event,null)"
                                [checked]="isAllSelected(header)">
                            </mat-checkbox>
                            <h5 class="m-0" *ngIf="header['type'] != 'checklist'">  {{header.label}} </h5>
                        </th>
                    </ng-container>
                    <ng-template #sorted2>
                        <th [ngStyle]="{'min-width':header['width']?header['width']:'auto','text-align':header['align']?header['align']:'start'}" mat-header-cell [attr.colSpan]="header['cs']?header['cs']:1" *matHeaderCellDef mat-sort-header style="color:white;vertical-align: middle;" [attr.rowspan]="header['rs']?header['rs']:1">
                            <h5 class="m-0">  {{header.label}} </h5>
                        </th>
                    </ng-template>
                </ng-template>
                <td  class="align-middle" mat-cell *matCellDef="let element;let i = dataIndex;let j = columnIndex;" (click)="clickable(element,i,header.key,header['clickable'])" style="padding-bottom:10px;" [ngStyle]="{
                    'min-width':header['width']?header['width']:'auto',
                    'color':rsvc.findColor(element,header['key']),
                    'text-align':!header.align?'start':header.align,
                    'background-color':rsvc.findBgColor(element,header['key']),
                    'cursor':header['clickable']==true && !rsvc.checkCursor(element,header['key'])?'pointer':'auto'
                }"> 
                    <div [hidden]="checkHidden(element,header)" (dblclick)="changeState(element,editable==true && header['editable']==true?1:0)">
                        <div [hidden]="header['type']=='checklist' || header['type']=='split' || header['type']=='img'">
                            <i class="align-middle" *ngIf="header['icon']==true" [ngClass]="element[header['key']]" [ngStyle]="{'font-size':header['iconSize']?header['iconSize']:'14px'}"></i>
                            {{header['icon']==true?'':element[header['key']]}} 
                        </div>
                        <ng-container *ngIf="header['type']=='split' && element[header['key']]">
                            <div [ngStyle]="{'text-align':header['align']?header['align']:'start'}" *ngFor="let dt of element[header['key']].split(header['splitter'])">
                                <div>{{dt}}</div>
                            </div>
                        </ng-container>
                        <mat-checkbox [hidden]="header['type']!='checklist' || (element[header['key']] === undefined || element[header['key']] == null)" (change)="changeSelected(header,$event,element)"
                            [checked]="isSelected(element,header)">
                        </mat-checkbox>
                        <ng-container *ngIf="header['type']=='img' && element[header['key']]">
                            <img [src]="element[header['key']]" [alt]="element[header['key']]" [style.width]="header['img_width']?header['img_width']:'64px'" [style.height]="header['img_height']?header['img_height']:'64px'">
                        </ng-container>
                    </div>
                    <div [hidden]="!(checkHidden(element,header))" >
                        <!-- [hidden]="!editable || viewOnly == true || !header['edit_type']" -->
                        <div *ngIf="header['edit_type']=='string'">
                            <input (keydown)="editRow('string','keydown',element,i,header.key,$event,$event.ctrlKey)" [ngStyle]="{'background-color':rsvc.checkBgValid(element[header['key']+'_valid']),'border-color':rsvc.checkValid(element[header['key']+'_valid']),'color':rsvc.checkValid(element[header['key']+'_valid'])}" [disabled]="element['editable']==false?true:false" [placeholder]="rsvc.placeHolderAwal(element[header['key']])" (focusout)="editRow('string','focusout',element,i,header.key,$event)" style="width:100%;border:solid 0.1px#414e84" [value]="element[header['edit_key']]?element[header['edit_key']]:element[header['key']]" [matTooltip]="rsvc.dataTooltip(element,header['key'])" [matTooltipPosition]="'after'" [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])" />
                        </div>
                        <div *ngIf="header['edit_type']=='text-area'">
                            <textarea (keydown)="editRow('string','keydown',element,i,header.key,$event,$event.ctrlKey)" [ngStyle]="{'background-color':rsvc.checkBgValid(element[header['key']+'_valid']),'border-color':rsvc.checkValid(element[header['key']+'_valid']),'color':rsvc.checkValid(element[header['key']+'_valid'])}" [disabled]="element['editable']==false?true:false" [placeholder]="rsvc.placeHolderAwal(element[header['key']])" (focusout)="editRow('text-area','focusout',element,i,header.key,$event)" style="width:100%;border:solid 0.1px#414e84" [value]="element[header['edit_key']]?element[header['edit_key']]:element[header['key']]" rows="3" [matTooltip]="rsvc.dataTooltip(element,header['key'])" [matTooltipPosition]="'after'" [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])"></textarea>
                        </div>
                        <div *ngIf="header['edit_type']=='date'">
                            <input type="date" (keydown)="editRow('string','keydown',element,i,header.key,$event,$event.ctrlKey)" [ngStyle]="{'background-color':rsvc.checkBgValid(element[header['key']+'_valid']),'border-color':rsvc.checkValid(element[header['key']+'_valid']),'color':rsvc.checkValid(element[header['key']+'_valid'])}" [disabled]="element['editable']==false?true:false" [placeholder]="rsvc.placeHolderAwal(element[header['key']])" (focusout)="editRow('string','focusout',element,i,header.key,$event)" style="width:100%;border:solid 0.1px#414e84" [value]="element[header['edit_key']]?element[header['edit_key']]:element[header['key']]" [matTooltip]="rsvc.dataTooltip(element,header['key'])" [matTooltipPosition]="'after'" [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])" />
                        </div>
                        <div *ngIf="header['edit_type']=='time'">
                            <kt-re-time-picker 
                            [time]="element[header['edit_key']]?element[header['edit_key']]:element[header['key']]" 
                            [readOnly]="element[header['key']+'_ro']?element[header['key']+'_ro']:false"
                            [placeholder]="rsvc.placeHolderAwal(element[header['key']])"
                            (change)="editRow('timepicker','focusout',element,i,header.key,$event,false)"
                            [sty]="{'background-color':rsvc.checkBgValid(element[header['key']+'_valid']),'border-color':rsvc.checkValid(element[header['key']+'_valid']),'color':rsvc.checkValid(element[header['key']+'_valid'])}" [disabled]="element['editable']==false?true:false" 
                            [matTooltip]="rsvc.dataTooltip(element,header['key'])" 
                            [matTooltipPosition]="'after'" 
                            [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])"
                            ></kt-re-time-picker>
                            <!-- <input 
                            [ngxTimepicker]="editableDial"
                            [readOnly]="element[header['key']+'_ro']?element[header['key']+'_ro']:false"
                            [format]="24" 
                            [value]="element[header['edit_key']]?element[header['edit_key']]:element[header['key']]" 
                            [ngStyle]="{'background-color':rsvc.checkBgValid(element[header['key']+'_valid']),'border-color':rsvc.checkValid(element[header['key']+'_valid']),'color':rsvc.checkValid(element[header['key']+'_valid'])}" [disabled]="element['editable']==false?true:false" 
                            [placeholder]="rsvc.placeHolderAwal(element[header['key']])" 
                            style="width:100%;border:solid 0.1px#414e84" 
                            [matTooltip]="rsvc.dataTooltip(element,header['key'])" 
                            [matTooltipPosition]="'after'" 
                            [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])"
                            readonly
                            >
                            <ngx-material-timepicker #editableDial (timeSet)="editRow('timepicker','focusout',element,i,header.key,$event)"   [enableKeyboardInput]="true" [theme]="darkTheme"></ngx-material-timepicker> -->
                        </div>
                        <div *ngIf="header['edit_type']=='number'">
                            <input type="number" (keydown)="editRow('string','keydown',element,i,header.key,$event,$event.ctrlKey)" [ngStyle]="{'background-color':rsvc.checkBgValid(element[header['key']+'_valid']),'border-color':rsvc.checkValid(element[header['key']+'_valid']),'color':rsvc.checkValid(element[header['key']+'_valid'])}" [disabled]="element['editable']==false?true:false" [placeholder]="rsvc.placeHolderAwal(element[header['key']])" (focusout)="editRow('string','focusout',element,i,header.key,$event)" style="width:100%;border:solid 0.1px#414e84" [value]="element[header['edit_key']]?element[header['edit_key']]:element[header['key']]" [matTooltip]="rsvc.dataTooltip(element,header['key'])" [matTooltipPosition]="'after'" [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])" [matTooltipClass]="'tooltip-custom'" />
                        </div>
                        <div *ngIf="header['edit_type']=='number-positive'">
                            <input type="number" (keypress)="positive($event)" (keydown)="editRow('string','keydown',element,i,header.key,$event,$event.ctrlKey)" [ngStyle]="{'background-color':rsvc.checkBgValid(element[header['key']+'_valid']),'border-color':rsvc.checkValid(element[header['key']+'_valid']),'color':rsvc.checkValid(element[header['key']+'_valid'])}" [disabled]="element['editable']==false?true:false" [placeholder]="rsvc.placeHolderAwal(element[header['key']])" (focusout)="editRow('string','focusout',element,i,header.key,$event)" style="width:100%;border:solid 0.1px#414e84" [value]="element[header['edit_key']]?element[header['edit_key']]:element[header['key']]" [matTooltip]="rsvc.dataTooltip(element,header['key'])" [matTooltipPosition]="'after'" [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])" [matTooltipClass]="'tooltip-custom'" />
                        </div>
                        <div *ngIf="header['edit_type']=='integer'">
                            <input type="number" step="1" (keypress)="numberOnly($event,null)" (keydown)="editRow('string','keydown',element,i,header.key,$event,$event.ctrlKey)" [ngStyle]="{'background-color':rsvc.checkBgValid(element[header['key']+'_valid']),'border-color':rsvc.checkValid(element[header['key']+'_valid']),'color':rsvc.checkValid(element[header['key']+'_valid'])}" [disabled]="element['editable']==false?true:false" [placeholder]="rsvc.placeHolderAwal(element[header['key']])" (focusout)="editRow('string','focusout',element,i,header.key,$event)" style="width:100%;border:solid 0.1px#414e84" [value]="element[header['edit_key']]?element[header['edit_key']]:element[header['key']]" [matTooltip]="rsvc.dataTooltip(element,header['key'])" [matTooltipPosition]="'after'" [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])" [matTooltipClass]="'tooltip-custom'" />
                        </div>
                        <div *ngIf="header['edit_type']=='integer-positive'">
                            <input type="number" step="1" (keypress)="numberOnly($event,'positive')" (keydown)="editRow('string','keydown',element,i,header.key,$event,$event.ctrlKey)" [ngStyle]="{'background-color':rsvc.checkBgValid(element[header['key']+'_valid']),'border-color':rsvc.checkValid(element[header['key']+'_valid']),'color':rsvc.checkValid(element[header['key']+'_valid'])}" [disabled]="element['editable']==false?true:false" [placeholder]="rsvc.placeHolderAwal(element[header['key']])" (focusout)="editRow('string','focusout',element,i,header.key,$event)" style="width:100%;border:solid 0.1px#414e84" [value]="element[header['edit_key']]?element[header['edit_key']]:element[header['key']]" [matTooltip]="rsvc.dataTooltip(element,header['key'])" [matTooltipPosition]="'after'" [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])" [matTooltipClass]="'tooltip-custom'" />
                        </div>
                        <div *ngIf="header['edit_type']=='select'">
                            <kt-re-ng-select 
                            [matTooltip]="rsvc.dataTooltip(element,header['key'])" 
                            [matTooltipPosition]="'after'" 
                            [matTooltipDisabled]="rsvc.checkTooltip(element,header['key'])"
                            [matTooltipClass]="'tooltip-custom'"
                            [items]="header['selector']" 
                            [bindLabel]="'label'" 
                            [bindValue]="'value'"
                            [appendTo]="'body'"
                            [filterKey]="element[header['selector_filter']]?element[header['selector_filter']]:null"
                            style="width:100%;padding:3.8px 0px;" 
                            [disabled]="element['editable']==false?true:false" 
                            (change)="editRow('select','selected',element,i,header.key,$event)"
                            [value]="{label:element[header['key']],value:element[header['value_key']]}"
                            >
                            </kt-re-ng-select>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container [matColumnDef]="'addAction'">
                <th [hidden]="editable==false || (editable && viewOnly==true) || editable_only==true" [attr.rowspan]="rowSpanMax"  mat-header-cell *matHeaderCellDef mat-header style="color:white;vertical-align: middle;width:fit-content;">
                    <h5 class="m-0" style="width:fit-content">Add</h5>
                </th>
                <td [hidden]="editable==false || (editable && viewOnly==true) || editable_only==true" mat-cell *matCellDef="let element; index as i" class="align-middle" style="background-color:#ebecf1;width:80px">
                    <div class="one-line" [hidden]="checkAdding() == true" style="width:70px;">
                        <div class="card card-button" style="width:32px;" [hidden]="dataSource.filter != null && dataSource.filter.length > 0" (click)="addRow(element,'addAction',false)">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div [hidden]="element['editable']==false || element['restrict_delete'] == true" class="card card-button" style="width:32px;background-color:firebrick" (click)="removeRow(element,'removeAction')">
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                    <div class="one-line" [hidden]="(!element['adding'] || element['adding']!=true)" style="width:70px;">
                        <div class="card card-button" style="width:32px;" (click)="addRow(element,'addAction',true)">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="card card-button" style="width:32px;background-color:firebrick" (click)="removeRow(element,'removeAction')">
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                </td>
            </ng-container> 
            <ng-container [matColumnDef]="'Action'">
                <th [attr.rowspan]="rowSpanMax" [hidden]="actionHide" mat-header-cell *matHeaderCellDef mat-header style="color:white;vertical-align: middle;"><h5 style="margin-bottom:0px;">{{tableActionHeader}}</h5></th>
                <td [hidden]="actionHide" mat-cell *matCellDef="let row; index as i" class="align-middle" style="background-color:#ebecf1">
                    <div class="dropdown dropdown-inline" style="display: block;">
                        <button type="button" class="btn btn-icon btn-sm btn-icon-md btn-circle mx-auto" style="display:block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/media/icons/dot-menu.svg" alt="">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" style="padding:5px 0px;">
                            <ng-container *ngIf="actionButton.includes('view')">
                                <button style="padding:5px 20px;" [hidden]="checkHideAction(row,'view')" type="button" class="dropdown-item" (click)="onView.emit(row)"><i class="fas fa-search"></i> View</button>
                            </ng-container>
                            <ng-container *ngIf="actionButton.includes('edit')">
                                <button style="padding:5px 20px;" [hidden]="checkHideAction(row,'edit')" type="button" class="dropdown-item" (click)="onEdit.emit(row)" ><i class="la la-pencil"></i> Edit</button>
                            </ng-container>
                            <ng-container *ngIf="actionButton.includes('delete')">
                                <button style="padding:5px 20px;" [hidden]="checkHideAction(row,'delete')" type="button" class="dropdown-item" (click)="onDelete.emit(row)"><i class="la la-trash"></i> Delete</button>
                            </ng-container>
                            <ng-container *ngIf="actionButton.includes('archive')">
                                <button style="padding:5px 20px;" [hidden]="checkHideAction(row,'archive')" type="button" class="dropdown-item" (click)="onArchive.emit(row)" ><i class="far fa-file-archive"></i> Archive</button>
                            </ng-container>
                            <ng-container *ngIf="actionButton.includes('unarchive')">
                                <button style="padding:5px 20px;" [hidden]="checkHideAction(row,'unarchive')" type="button" class="dropdown-item" (click)="onUnarchive.emit(row)"><i class="far fa-file-archive"></i> Unarchive</button>
                            </ng-container>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container [matColumnDef]="'Actions'">
                <th [attr.rowspan]="rowSpanMax" mat-header-cell *matHeaderCellDef mat-header style="color:white;vertical-align: middle;"><h5 style="margin-bottom:0px;">{{actionsTitle}}</h5></th>
                <td [hidden]="actionsHide" mat-cell *matCellDef="let row; index as i" class="align-middle" style="background-color:#ebecf1">
                    <div class="dropdown dropdown-inline" style="display: block;">
                        <button type="button" class="btn btn-icon btn-sm btn-icon-md btn-circle mx-auto" style="display:block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/media/icons/dot-menu.svg" alt="">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" style="padding:5px 0px;">
                            <ng-container *ngFor="let act of actions;let j = index">
                                <button style="padding:5px 20px;" [hidden]="act.hidden  || (actionsIdxShow.length > 0 && !actionsIdxShow.includes(j)) || (row.show_actions && row.show_actions.length > 0 && !row.show_actions.includes(j))" type="button" class="dropdown-item" (click)="actionsClick.emit({data:row,label:act.label,index:j})"><i [ngClass]="act.icon"></i> {{act.label}}</button>
                            </ng-container>
                            <!-- rsvc.actionsCheck(actionIdxShow,row.show_actions,idx) -->
                        </div>
                    </div>
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="expandedDetail">
                <ng-container >
                    <td mat-cell *matCellDef="let row2;" [attr.colSpan]="headers.length" style="padding:0px 0px;"> 
                        <div class="example-element-detail" [@detailExpand]="expandable==true && row2 === clickedE ? 'expanded':'collapsed'">
                            <ng-container *ngIf="expandable==true && row2===clickedE">
                                <ng-content select="[expand]" style="width:100%"></ng-content>
                            </ng-container>
                        </div>
                    </td>
                </ng-container>
            </ng-container>   -->
            <ng-container *ngFor="let footer of footers" [matColumnDef]="footer.key">
                <td mat-footer-cell *matFooterCellDef [attr.colSpan]="footer.cs||1" [ngStyle]="{
                    'width':footer['width']?footer['width']:'auto',
                    'color':rsvc.findColor(footer,footer['key']),
                    'text-align':!footer.align?'start':footer.align,
                    'background-color':rsvc.findBgColor(footer,footer['key'])
                }">
                    {{footer.value}}
                </td>
            </ng-container>
            <tr   align="center" valign="middle" mat-header-row *matHeaderRowDef="headKey" style="padding-top:10px;padding-bottom:10px;background-color:#414e84"></tr>
            <ng-container *ngIf="subHeadKey.length>0">
                <tr mat-header-row *matHeaderRowDef="subHeadKey" style="padding-top:10px;padding-bottom:10px;background-color:#465692"></tr>
            </ng-container>
            <tr mat-row *matRowDef="let row;columns: dataKey" [class.expanded-row]="clickedE === row"  class="example-element-row"></tr>
            <!-- <tr mat-row *matRowDef="let row2; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
            <tr mat-footer-row *matFooterRowDef="footerKeys"></tr>
        </table> 
    </div>
    <ng-container *ngIf="pagination">
        <mat-paginator [pageSize]="size" [pageSizeOptions]="[5, 10, 25,50,100]"  showFirstLastButtons></mat-paginator>
    </ng-container> 
</div>

<ng-template #mdl_detail let-modal>
    <div class="modal-header" style="background-color:#414e84">
        <div class="one-line" style="width:100%">
            <div class="card card-summary" style="background-color: #ebecf1;">
                <h5 class="modal-title">{{popupConfig.label}}</h5>
            </div>
            <button type="button" class="close" (click)="closePopup()" aria-label="Close" style="color:white"></button>
        </div>
    </div>
    <ng-content  *ngIf=" popupshow == true" select="[popup]"></ng-content>
</ng-template>
