:host {
    display: block;
}

.card-summary{
    padding:10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color:#ffffff;
    // border:0.25px solid rgba(65, 78, 132,0.4);
    box-shadow: 0 1px 4px 0.1px rgba(65, 78, 132, 0.2);

    &.colored{
      background-color: #414e84;
      color:white;
    }
}


.spacing{
  height:10px;
  background-color: transparent;
}

.card-ghost{
  padding:10px 10px 10px 10px;
  //border-radius: 10px 10px 10px 10px;
  background-color:transparent;
  border:none;
  box-shadow: none;
  //border:0.5px solid rgba(65, 78, 132,0.4);
  //box-shadow: 0 1px 4px 0.1px rgba(65, 78, 132, 0.2);
}


.card-button{
  padding:10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color:#20645d;
  // border:0.25px solid rgba(65, 78, 132,0.4);
  box-shadow: 0 1px 4px 0.1px #20645d33;
  font-weight: bold;
  cursor:pointer;
  color:white;
  align-items:center;
}

.card-button-disabled{
  padding:10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color:#5b6370;
  // border:0.25px solid rgba(65, 78, 132,0.4);
  box-shadow: 0 1px 4px 0.1px #5b637033;
  font-weight: bold;
  cursor:default;
  color:white;
  align-items:center;
}

.card-button-inv{
  padding:10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  color:#20645d;
  font-weight: bold;
  // border:0.25px solid rgba(65, 78, 132,0.4);
  box-shadow: 0 1px 4px 0.1px #ffffff99;
  cursor:pointer;
  background-color:#ebecf1;
  align-items:center;
}

.excel-button{
    background-color:#206a5d;
    font-size:16px;
    border:solid 0.25px #414e84;
    color:white;
    padding:0.5rem;
    width:100%;
    height:100%;
    border-radius: 10px;
    cursor:pointer

    &.disabled{
      background-color: #5b6370;
      cursor:default;
    }
}

.excel-button-disabled{
  font-size:16px;
  border:solid 0.25px #414e84;
  color:white;
  padding:0.5rem;
  width:100%;
  height:100%;
  border-radius: 10px;
  background-color: #5b6370;
  cursor:default;
}

.card-ghost{
    padding:10px 10px 10px 10px;
    //border-radius: 10px 10px 10px 10px;
    background-color:transparent;
    border:none;
    box-shadow: none;
    //border:0.5px solid rgba(65, 78, 132,0.4);
    //box-shadow: 0 1px 4px 0.1px rgba(65, 78, 132, 0.2);
}

.spacing{
  height:10px;
  background-color: transparent;
}

.one-line{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}

///table
table.custom {
    box-shadow: 0 1px 4px 0.1px #414e8433;
    tr{
      border-radius:10px;
    }
    tr td {
      border: 1px solid #D9E1F2;
      color:black;
      font-weight:600;
      padding: 5px 10px;
      font-size:14px;
    }
  
    tr th {
      border: 1px solid #D9E1F2;
      font-weight:800;
      padding: 5px 10px;
      font-size:14px !important;
      vertical-align: center;
    }
    
    tr:nth-child(odd) {background-color: #FFFFFF;}
    tr:nth-child(even) {background-color: #f2f6ff;}
    // tr:nth-child(4n), tr:nth-child(4n-1) {background-color: #f2f6ff;}
    // tr:nth-child(4n+2), tr:nth-child(4n-3) {background-color: #FFFFFF;}

}

// .mat-row:nth-child(even){
//   background-color: red;
// }
      
// .mat-row:nth-child(odd){
//   background-color: black;
// }

::ng-deep .th.mat-sort-header-container {
    padding-bottom:27.5px;
}



tr.example-detail-row {
    height: 0;
  }
tr.example-element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  


// override material paginator
::ng-deep .mat-paginator {
    .mat-paginator-page-size{
        color: #5f5f5f;
        font-size:14px;
        font-weight: 500;
    }
    // override material paginator page switch
    .mat-paginator-navigation-first {
        order: 1;
    }
    .mat-paginator-navigation-previous {
        order: 2;
    }
    .mat-paginator-range-label {
        color: #5f5f5f;
        font-size:14px;
        font-weight: 500;
        order: 3;
    }
    .mat-paginator-navigation-next {
        order: 4;
    }
    .mat-paginator-navigation-last {
        order: 5;
    }
}








//dropdown
.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

::ng-deep .mat-checkbox-inner-container{
  background-color:white !important;
}

.tooltip-custom {
  background-color:#ebecf1;
  color:#414e84;
  font-size:12px;
  width:fit-content;
  height:fit-content;
}