kt-table-editor {
    display: block;
}

table {
    width: 100%;
}

.table-container {
    .table {
        thead th {
            border-bottom: none;
        }
    
        .thead-custom th {
            border-color: #3f4d88;
        }
    }
    &::-webkit-scrollbar {
        height: .5em;
        width: .5em;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .1);
        border-radius: 1em;

        &:hover {
            background-color: rgba(0, 0, 0, .25);
        }

        &:active {
            background-color: rgba(0, 0, 0, .5);
        }
    }
    .mat-table-sticky:first-child {
        border-right: none;
    }
    .mat-table-sticky:last-child {
        border-left: none;
    }
}

  
.mat-form-field {
    font-size: 14px;
}

.fw {
    width: 100%;
}

.mat-table-sticky:first-child {
	border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
	border-left: 1px solid #e0e0e0;
}

.mat-sort-header-arrow {
    color: white;
}

.mat-checkbox.mat-checkbox-dark .mat-checkbox-frame {
    border-color: white;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(39, 35, 25, .42);
}

.menu-container {
    visibility: hidden;
    position: fixed;
}

.add-block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;

    button {
        margin: 1em;
        grid-column-start: 2;
    }
}

.hoverable {
    background-color: white;

    &:hover:not(.selected) {
        background-color: #e0e0e0;
    }

    &.selected {
        background-color: #ccc;
    }
}

.mxt {
    width: calc(100% - 1em);
}

.no-data {
    width: 100%;
        height: 300px;
        background-image: url('../../../../../../../../assets/media/icons/no-data.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70% 70%;
}

.hidden {
    display: none;
}

.shown {
    display: table-row;
}

@keyframes rotating {
    0%  { transform: rotate(360deg); }
    50%  { transform: rotate(180deg); }
    100%  { transform: rotate(0deg); }
}

.rotating {
    transform: rotate(360deg);
    animation-name: rotating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: auto!important;
    height: auto!important;
}
