<div class="menu-container" [style.left]="menuPivot.x" [style.top]="menuPivot.y" [matMenuTriggerFor]="contextMenu"></div>
<mat-menu #contextMenu="matMenu" (closed)="contextClosed()">
    <ng-template matMenuContent let-ctx="context" let-idx="index">
        <button *ngFor="let m of contextList" mat-menu-item (click)="m.command(ctx, idx)">{{ m.text }}</button>
    </ng-template>
</mat-menu>

<div class="w-100" #search>
    <ng-content select="[table-search]"></ng-content>
</div>

<div class="w-100 d-flex flex-row-reverse" *ngIf="search.children.length === 0">
    <mat-form-field>
        <input type="text" matInput placeholder="Search" [formControl]="searchBox" />
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>

<div class="add-block" *ngIf="showAddButton">
    <button mat-raised-button color="primary" (click)="addInline()">Add new Data</button>
</div>

<div class="mat-elevation-z8 table-responsive table-container position-relative" [style.minHeight]="calcMinHeight" [style.maxHeight]="calcMaxHeight">
    <form [formGroup]="probe">
        <mat-progress-bar *ngIf="pendingState" mode="indeterminate" class="position-absolute" style="top: 0px;"></mat-progress-bar>
        <table mat-table class="w-100 table table-hover" [dataSource]="datasource" matSort>
            <ng-container *ngFor="let col of dataColumns" [matColumnDef]="col">
                
                <ng-container *ngIf="sortable[col]">
                    <th [ngClass]="headerClass[col]" mat-header-cell *matHeaderCellDef [mat-sort-header]="keys[col]">{{ header[col] || col }}</th>
                </ng-container>
                <ng-container *ngIf="!sortable[col]">
                    <th [ngClass]="headerClass[col]" mat-header-cell *matHeaderCellDef>{{ header[col] || col }}</th>
                </ng-container>
        
                <td [ngClass]="valueClass[col]" mat-cell *matCellDef="let row; index as i">
                    <ng-container *ngIf="editorPosition === i && columnEditOptions[col] && columnEditOptions[col].editable && columnEditOptions[col].opts">
                        <ng-container *ngIf="columnEditOptions[col].opts! as colOpts">
                            <ng-container [ngSwitch]="colOpts.type">

                                <mat-form-field class="mxt" *ngSwitchCase="'autocomplete'">
                                    <input matInput type="text" [placeholder]="colOpts.label!" [formControlName]="col"/>
                                    <mat-autocomplete #addAutoComplete="matAutocomplete">
                                        <ng-container *ngIf="(probe.get(col)?.value | autocompleteAsync:getAutocompleteOptions(colOpts)!) as autoResult">
                                            <mat-option *ngIf="!autoResult.completed">
                                                <ngx-skeleton-loader [count]="1"></ngx-skeleton-loader>
                                            </mat-option>
                                            <mat-option *ngIf="autoResult.completed && autoResult.data.length <= 0">
                                                No Data Match for "{{ probe.get(col)?.value }}"
                                            </mat-option>
                                            <ng-container *ngIf="autoResult.completed && autoResult.data.length > 0">
                                                <mat-option *ngFor="let n of autoResult.data" [value]="n.value">{{ n.display }}</mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="col" [labelPosition]="getCheckboxOptions(colOpts)!.labelPosition!">
                                    {{ getCheckboxOptions(colOpts)!.label }}
                                </mat-checkbox>

                                <mat-form-field class="mxt" *ngSwitchCase="'datepicker'">
                                    <mat-label>{{ colOpts.label }}</mat-label>
                                    <input matInput [formControlName]="col" [matDatepicker]="addPicker" readonly (click)="addPicker.open()" />
                                    <mat-datepicker-toggle matSuffix [for]="addPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #addPicker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field class="mxt" *ngSwitchCase="'input'">
                                    <mat-label>{{ colOpts.label }}</mat-label>
                                    <input matInput [formControlName]="col" [type]="getInputOptions(colOpts)!.inputType!" />
                                    <mat-error *ngIf="probe.get(col).invalid">
                                        <ng-container *ngIf="probe.get(col).hasError('pattern')">
                                            {{ getInputOptions(colOpts)!.patternErrorText ? getInputOptions(colOpts)!.patternErrorText! : 'Error' }}
                                        </ng-container>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="mxt" *ngSwitchCase="'textarea'">
                                    <mat-label>{{ colOpts.label }}</mat-label>
                                    <textarea matInput [formControlName]="col"></textarea>
                                </mat-form-field>

                                <mat-form-field class="mxt" *ngSwitchCase="'select'">
                                    <mat-label>{{ colOpts.label }}</mat-label>
                                    <mat-select [formControlName]="col" *ngIf="(getSelectOptions(colOpts)!.sources | selectAsync:getSelectOptions(colOpts)!) as selectResult">
                                        <mat-option *ngIf="!selectResult.completed">Loading...</mat-option>
                                        <mat-option *ngIf="selectResult.completed && selectResult.data.length === 0">No Data</mat-option>
                                        <ng-container *ngIf="selectResult.completed && selectResult.data.length > 0">
                                            <mat-option *ngFor="let n of selectResult.data" [value]="n.value">{{ n.display }}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="editorPosition !== i || !columnEditOptions[col] || !columnEditOptions[col].editable || !columnEditOptions[col].opts">
                        <ng-container *ngIf="(row | displayAsync:transformer[col]:((paginator.pageIndex * paginator.pageSize) + i):i:datasource.frame) as displayResult">
                            <ngx-skeleton-loader *ngIf="!displayResult.completed" [count]="1" [theme]="{
                                width: '50%',
                                margin: '0'
                            }"></ngx-skeleton-loader>
                            <ng-container *ngIf="displayResult.completed">
                                {{ displayResult.value }}
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </td>

                <td mat-footer-cell *matFooterCellDef>
                    <ng-container *ngIf="editorPosition === -1 && columnEditOptions[col] && columnEditOptions[col].editable && columnEditOptions[col].opts">
                        <ng-container *ngIf="columnEditOptions[col].opts! as colOpts">
                            <ng-container [ngSwitch]="colOpts.type">

                                <mat-form-field class="mxt" *ngSwitchCase="'autocomplete'">
                                    <input matInput type="text" [placeholder]="colOpts.label!" [formControlName]="col"/>
                                    <mat-autocomplete #addAutoComplete="matAutocomplete">
                                        <ng-container *ngIf="(probe.get(col)?.value | autocompleteAsync:getAutocompleteOptions(colOpts)!) as autoResult">
                                            <mat-option *ngIf="!autoResult.completed">
                                                <ngx-skeleton-loader [count]="1"></ngx-skeleton-loader>
                                            </mat-option>
                                            <mat-option *ngIf="autoResult.completed && autoResult.data.length <= 0">
                                                No Data Match for "{{ probe.get(col)?.value }}"
                                            </mat-option>
                                            <ng-container *ngIf="autoResult.completed && autoResult.data.length > 0">
                                                <mat-option *ngFor="let n of autoResult.data" [value]="n.value">{{ n.display }}</mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="col" [labelPosition]="getCheckboxOptions(colOpts)!.labelPosition!">
                                    {{ getCheckboxOptions(colOpts)!.label }}
                                </mat-checkbox>

                                <mat-form-field class="mxt" *ngSwitchCase="'datepicker'">
                                    <mat-label>{{ colOpts.label }}</mat-label>
                                    <input matInput [formControlName]="col" [matDatepicker]="addPicker" readonly (click)="addPicker.open()" />
                                    <mat-datepicker-toggle matSuffix [for]="addPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #addPicker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field class="mxt" *ngSwitchCase="'input'">
                                    <mat-label>{{ colOpts.label }}</mat-label>
                                    <input matInput [formControlName]="col" [type]="getInputOptions(colOpts)!.inputType!" />
                                    <mat-error *ngIf="probe.get(col).invalid">
                                        <ng-container *ngIf="probe.get(col).hasError('pattern')">
                                            {{ getInputOptions(colOpts)!.patternErrorText ? getInputOptions(colOpts)!.patternErrorText! : 'Error' }}
                                        </ng-container>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="mxt" *ngSwitchCase="'textarea'">
                                    <mat-label>{{ colOpts.label }}</mat-label>
                                    <textarea matInput [formControlName]="col"></textarea>
                                </mat-form-field>

                                <mat-form-field class="mxt" *ngSwitchCase="'select'">
                                    <mat-label>{{ colOpts.label }}</mat-label>
                                    <mat-select [formControlName]="col" *ngIf="(getSelectOptions(colOpts)!.sources | selectAsync:getSelectOptions(colOpts)!) as selectResult">
                                        <mat-option *ngIf="!selectResult.completed">Loading...</mat-option>
                                        <mat-option *ngIf="selectResult.completed && selectResult.data.length === 0">No Data</mat-option>
                                        <ng-container *ngIf="selectResult.completed && selectResult.data.length > 0">
                                            <mat-option *ngFor="let n of selectResult.data" [value]="n.value">{{ n.display }}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                            </ng-container>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>{{ actionTitle }}</th>
                <td mat-cell *matCellDef="let row; index as i" class="align-middle">
                    <ng-container *ngIf="editorPosition === i">
                        <ng-container *ngIf="pendingState; else editActionReady">
                            <mat-icon class="m-3 rotating" style="font-size: 24px!important;">loop</mat-icon>
                        </ng-container>
                        <ng-template #editActionReady>
                            <button type="button" mat-icon-button (click)="editSelectedData()">
                                <mat-icon>done</mat-icon>
                            </button>
                            <button type="button" mat-icon-button (click)="cancelSelectedData()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </ng-template>
                    </ng-container>

                    <ng-container *ngIf="editorPosition !== i">
                        <ng-container *ngFor="let act of actionList">
                            <button *ngIf="!act.icon" mat-button (click)="act.command(row, i)">{{ act.text }}</button>
                            <button *ngIf="act.icon && !act.text" mat-icon-button (click)="act.command(row, i)">
                                <mat-icon>{{ act.icon }}</mat-icon>
                            </button>
                            <button *ngIf="act.icon && act.text" mat-icon-button [matTooltip]="act.text" matTooltipPosition="after" (click)="act.command(row, i)">
                                <mat-icon>{{ act.icon }}</mat-icon>
                            </button>
                        </ng-container>
                    </ng-container>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <ng-container *ngIf="editorPosition === -1">
                        <ng-container *ngIf="pendingState; else footerActionReady">
                            <mat-icon class="m-3 rotating" style="font-size: 24px!important;">loop</mat-icon>
                        </ng-container>
                        <ng-template #footerActionReady>
                            <button type="button" mat-icon-button (click)="addNewData()">
                                <mat-icon>done</mat-icon>
                            </button>
                            <button type="button" mat-icon-button (click)="cancelNewData()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </ng-template>
                    </ng-container>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: sticky" class="thead-custom h-100"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; index as i" (contextmenu)="onMenuContext($event, row, i)" class="hoverable" [class.selected]="(selectedRowContext$ | async) === i" (click)="rowClicked(row, i)"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns" [ngClass]="{ 'hidden': editorPosition !== -1, 'shown': editorPosition === -1 }"></tr>
        </table>
    </form>
    
    <div class="spinner-container" *ngIf="!datasource || (datasource.loading$ | async)">
        <ngx-skeleton-loader [count]="paginator?.pageSize ||defaultSize"></ngx-skeleton-loader>
    </div>
    <div class="no-data" *ngIf="!(datasource.loading$ | async) && (datasource.dataLength$ | async) === 0 && editorPosition !== -1">
        &nbsp;
    </div>
</div>
<mat-paginator [pageSizeOptions]="sizeOptions" [pageSize]="defaultSize"></mat-paginator>
