<div class="card card-summary" [formGroup]="fg" style="padding:0px 10px">
    <div class="one-line">
        <input [owlDateTime]="dtMonth" class="no-focus" formControlName="month" [owlDateTimeTrigger]="dtMonth" [min]="min" [max]="max" style="border:none;padding:10px;font-size:14px" />
        <i class="fas fa-sort-down" style="font-size:14px;color:black"></i>
    </div>
    <owl-date-time [pickerType]="'calendar'" (monthSelected)="monthChange($event);dtMonth.close();" [startView]="'year'" [yearOnly]="true" #dtMonth></owl-date-time>
</div>