<!-- <div *ngIf="device=='mobile'">
	<div class="kt-grid__item kt-grid__item--fluid text-center">
		<div class="row w-100 align-self-center mx-auto mb-2" style="font-weight: 500;">
			<div class="col" (click)="gotoTab('/')">
				<i class="fas fa-home fa-md" ng-reflect-ng-class="fas fa-home fa-md"></i>
				<span class="kt-widget17__subtitle">
					<div>
						Home
					</div>
				</span>
			</div>
			<div class="col" data-toggle="kt-tooltip" title="" data-placement="top" data-original-title="Quick panel">
				<i class="fas fa-bell fa-md" ng-reflect-ng-class="fas fa-bell fa-md"></i>
				<span class="kt-widget17__subtitle">
					<div>
						Notification
					</div>
				</span>
			</div>
			<div class="col" (click)="gotoTab('profile')">
				<i class="fas fa-user fa-md" ng-reflect-ng-class="fas fa-user fa-md"></i>
				<span class="kt-widget17__subtitle">
					<div>
						Profile
					</div>
				</span>
			</div>
			<div class="col" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v fa-md" ng-reflect-ng-class="fas fa-ellipsis-v fa-md"></i>
				<span class="kt-widget17__subtitle">
					<div>
						More
					</div>
				</span>
				<div class="dropdown-menu">
					<a class="dropdown-item"><i class="fas fa-eye fa-md" ng-reflect-ng-class="fas fa-eye fa-md"></i>
						Recent log in</a>
					<a (click)="gotoTab('/about')" class="dropdown-item"><i class="fas fa-info-circle fa-md"
							ng-reflect-ng-class="fas fa-info-circle fa-md"></i> About application</a>
					<a (click)="logout()" class="dropdown-item"><i class="fas fa-power-off fa-md"
							ng-reflect-ng-class="fas fa-power-off fa-md"></i> Log out</a>
				</div>
			</div>
		</div>
	</div>
</div> -->