<!-- begin:: Page -->
<ng-container *ngIf="selfLayout !== 'blank'; else blankLayout">
	<!-- begin:: Header Mobile -->
	<kt-header-mobile></kt-header-mobile>
	<!-- end:: Header Mobile -->

	<div class="kt-grid kt-grid--hor kt-grid--root">
		<!-- begin::Body -->
		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
				<!-- begin:: Header -->
				<kt-header></kt-header>
				<!-- end:: Header -->
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
					<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch"
						id="kt_body">
						<div [ngClass]="{'kt-container kt-container--fit kt-grid kt-grid--ver': asideDisplay}"
							style="width: 100%;">
							<!-- begin:: Content -->
							<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
								id="kt_content">
								<!-- begin:: Content Head -->
								<kt-subheader *ngIf="subheaderDisplay"></kt-subheader>
								<!-- end:: Content Head -->
								<!-- aside Toggler -->
								<kt-aside-toggler></kt-aside-toggler>
								<!-- aside Toggler END -->

								<!-- <div ktContentAnimate class="kt-container kt-grid__item kt-grid__item--fluid"> -->
								<div>
									<router-outlet></router-outlet>
								</div>
							</div>
							<!-- end:: Content -->
						</div>
					</div>
				</div>
				<kt-footer class="kt-footer_fixed"></kt-footer>
			</div>

		</div>
		<!-- end:: Body -->

		<kt-quick-panel></kt-quick-panel>
		<kt-scroll-top></kt-scroll-top>
		<!-- <kt-sticky-toolbar></kt-sticky-toolbar> -->
	</div>
</ng-container>
<!-- end:: Page -->

<ng-template #blankLayout>
	<router-outlet></router-outlet>
</ng-template>