<!-- splash screen -->
<div #splashScreen class="kt-splash-screen">
	<span *ngIf="loaderType === 'spinner-message'">{{loaderMessage}}</span>
	<!-- <img *ngIf="loaderType === 'spinner-logo'" [attr.src]="loaderLogo" alt="Logo"> -->
	<!-- <mat-spinner diameter="40"></mat-spinner> -->
	<!-- <circle-progress 
	[percent]="85"
	[radius]="100"
	[outerStrokeWidth]="16"
	[innerStrokeWidth]="8"
	[outerStrokeColor]="'#78C000'"
	[innerStrokeColor]="'#C7E596'"
	[animation]="true"
	[animationDuration]="300"
	></circle-progress> -->
	<div class="preloader-wrap">
		<div class="percentage" id="precent" style="font-weight: bold;color: white;/* -webkit-text-stroke-width: 2px; *//* -webkit-text-stroke-color: #ffffff; */text-shadow: 0px 0px 5px #000000;"></div>
		<div class="loader">
		  <div class="trackbar">
			<div class="loadbar"></div>
		  </div>
		  <div class="glow"></div>
		</div>
	  </div>
</div>
