:host {
	.kt-splash-screen {
		background-image: url('../../../../../assets/media/other/splash_bground.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		//background-color: #f2f3f8;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		z-index: 1000;

		img {
			margin-left: calc(100vw - 100%);
			width: 90px;
			margin-bottom: 30px;
		}

		span {
			margin-left: calc(100vw - 100%);
			margin-bottom: 30px;
		}

		::ng-deep {
			[role="progressbar"] {
				margin-left: calc(100vw - 100%);
			}
			.mat-progress-spinner circle, .mat-spinner circle {
				// brand color
				stroke: #5d78ff;
			}
		}
	}
}
.preloader-wrap {
	top: 100px; 
  }
  
  .percentage {
	z-index: 100;
	border: 1px solid #ccc;
	text-align:center;
	color: #fff;
	line-height: 30px;
	font-size : 15px;
  }
  
  .loader,
  .percentage{
	height: 30px;
	max-width: 500px; 
	border: 2px solid #D34F41;
	border-radius: 20px;
	font-weight: 300;
	position: absolute; 
	top: 220px;
	bottom: 0; 
	left: 0; 
	right: 0;
	margin : auto; 
  }
  .loader:after,
  .percentage:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .trackbar {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	opacity: 0.99;
  }
  
  .loadbar {
	width: 0%;
	height: 100%;
	background: repeating-linear-gradient(
	45deg, 
	  #D7593D, 
	  #D7593D 10px, 
	  #F8B116 10px,
	  #FFD85E 20px
	); /* Stripes Background Gradient */
	box-shadow: 0px 0px 14px 1px #D34F41; 
	position: absolute;
	top: 0;
	left: 0;
	animation: flicker 5s infinite;
	overflow: hidden;
  }
  
  .glow {
	width: 0%;
	height: 0%;
	border-radius: 20px;
	box-shadow: 0px 0px 60px 10px #D34F41;
	position: absolute;
	bottom: -5px;
	animation: animation 5s infinite;
  }
  
  @keyframes animation {
	10% {
	  opacity: 0.9;
	}
	30% {
	  opacity: 0.86;
	}
	60% {
	  opacity: 0.8;
	}
	80% {
	  opacity: 0.75;
	}
  }
  